In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_dataset = pd.read_csv("GlassdoorData_USA.csv")
print(raw_dataset.shape)
raw_dataset.head()

(5479, 14)

,Unnamed: 0,Unnamed: 0.1,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size
0,0,0,$10+ billion (USD),Microsoft,Information Technology,NaN,United States,Company - Public,Computer Hardware & Software,Delivery Data Science IC3,1975,4.4,OVERVIEW:\n\nAre you ready to seize and opport...,10000+ Employees
1,1,1,$10+ billion (USD),Amer Technology In,Information Technology,NaN,"Austin, TX",Company - Public,Computer Hardware & Software,Data Scientist,1975,4.4,OVERVIEW:\n\nAre you ready to seize and opport...,10000+ Employees
2,2,2,NaN,Newsly Technologies,NaN,Employer Provided Salary:$72 - $77 Per Hour,United States,NaN,NaN,Data Scientist,NaN,NaN,Data Scientist Roles and Responsibilities\n1. ...,NaN
3,3,3,NaN,Facebook,NaN,Employer Provided Salary:$150K,Remote,NaN,NaN,"Data Scientist, Analytics",NaN,NaN,Company description\nNewsly is an audio news a...,NaN
4,4,4,$10+ billion (USD),Denken Solutions Inc,Information Technology,NaN,"Irvine, CA",Company - Public,Internet,Data Science (100% Remote),2004,4.3,"As a Data Scientist at Facebook, you will shap...",10000+ Employees

In [3]:
raw_dataset = raw_dataset.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [4]:
print(raw_dataset.shape)
raw_dataset.head()

(5479, 12)

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size
0,$10+ billion (USD),Microsoft,Information Technology,NaN,United States,Company - Public,Computer Hardware & Software,Delivery Data Science IC3,1975,4.4,OVERVIEW:\n\nAre you ready to seize and opport...,10000+ Employees
1,$10+ billion (USD),Amer Technology In,Information Technology,NaN,"Austin, TX",Company - Public,Computer Hardware & Software,Data Scientist,1975,4.4,OVERVIEW:\n\nAre you ready to seize and opport...,10000+ Employees
2,NaN,Newsly Technologies,NaN,Employer Provided Salary:$72 - $77 Per Hour,United States,NaN,NaN,Data Scientist,NaN,NaN,Data Scientist Roles and Responsibilities\n1. ...,NaN
3,NaN,Facebook,NaN,Employer Provided Salary:$150K,Remote,NaN,NaN,"Data Scientist, Analytics",NaN,NaN,Company description\nNewsly is an audio news a...,NaN
4,$10+ billion (USD),Denken Solutions Inc,Information Technology,NaN,"Irvine, CA",Company - Public,Internet,Data Science (100% Remote),2004,4.3,"As a Data Scientist at Facebook, you will shap...",10000+ Employees

In [5]:
raw_dataset.isnull().sum()

Revenue              1636
Company Name           37
Sector               1230
Salary Estimate        69
Location               30
Type of Ownership     822
Industry             1115
Job Title              61
Founded               831
Rating               1287
Job Description       295
Size                  909
dtype: int64

In [6]:
# raw_dataset.dropna(thresh=8)

In [7]:
raw_dataset = raw_dataset.dropna(thresh=11)

In [8]:
raw_dataset.isnull().sum()

Revenue              351
Company Name           5
Sector                52
Salary Estimate       34
Location               0
Type of Ownership     35
Industry              36
Job Title             20
Founded               49
Rating               266
Job Description      172
Size                  63
dtype: int64

In [9]:
print(raw_dataset.shape)
raw_dataset.head()

(4014, 12)

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size
0,$10+ billion (USD),Microsoft,Information Technology,NaN,United States,Company - Public,Computer Hardware & Software,Delivery Data Science IC3,1975,4.4,OVERVIEW:\n\nAre you ready to seize and opport...,10000+ Employees
1,$10+ billion (USD),Amer Technology In,Information Technology,NaN,"Austin, TX",Company - Public,Computer Hardware & Software,Data Scientist,1975,4.4,OVERVIEW:\n\nAre you ready to seize and opport...,10000+ Employees
4,$10+ billion (USD),Denken Solutions Inc,Information Technology,NaN,"Irvine, CA",Company - Public,Internet,Data Science (100% Remote),2004,4.3,"As a Data Scientist at Facebook, you will shap...",10000+ Employees
5,$25 to $50 million (USD),Nova Collective,Information Technology,NaN,"Chicago, IL",Company - Private,IT Services,Data Analyst,2010,4.2,Role: Data Science\n\nLocation: Remote\n\nDura...,201 to 500 Employees
7,Unknown / Non-Applicable,Mayo Clinic,Business Services,NaN,"Rochester, MN",Company - Private,Consulting,Data Science Analyst - Center for Digital Heal...,1926,4.4,"Qualifications\nDegree in computer science, en...",10000+ Employees

In [10]:
raw_dataset['Salary Estimate'].isnull().any()

True

In [11]:
raw_dataset = raw_dataset[raw_dataset['Salary Estimate'].notna()] # Taking the rows where Salary Estimate is not null.
print(raw_dataset.shape)
raw_dataset.head()

(3980, 12)

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees

In [12]:
raw_dataset['Salary Estimate'].isnull().any()

False

In [13]:
raw_dataset.head()

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees

In [14]:
for column in raw_dataset.columns:
    print("Column Name: ", column)
    print(column, raw_dataset[column].unique())
#     display(raw_dataset[column].unique())

Column Name:  Revenue
Revenue [nan '$10+ billion (USD)' 'Unknown / Non-Applicable'
 '$1 to $2 billion (USD)' '$500 million to $1 billion (USD)'
 '$5 to $10 billion (USD)' '$50 to $100 million (USD)'
 '$2 to $5 billion (USD)' '$10 to $25 million (USD)'
 '$100 to $500 million (USD)' '$25 to $50 million (USD)'
 'Less than $1 million (USD)' '$5 to $10 million (USD)'
 '$1 to $5 million (USD)']
Column Name:  Company Name
Company Name ['Facebook' 'Pacific Northwest National Laboratory'
 'Juno College of Technology' 'KesarWeb' 'Toyota' 'TransUnion'
 'Identical Soft' 'Microsoft' 'Allstate' 'Interview Query' 'Ovintiv'
 'Pivosys Inc.' 'Envision' 'Netflix' 'Specific Diagnostics'
 'Arizona State University' 'Amgenium LLC' 'Spotify'
 'Applied Information Sciences' 'State of Tennessee'
 'US Internal Revenue Service' 'AT&T' 'Toyota Connected North America'
 'Indeed' 'Medtronic' 'Tech True Up' 'Google'
 'First Soft Solutions [ Direct]' 'Procter & Gamble' 'LockerDome, Inc.'
 'Goldman Sachs' 'veritis group inc' 'Salesforce' 'RapiSource LLC'
 'Vastek Inc.' 'Teladoc Health' 'Halo Solutions' 'PRA Health Sciences'
 'IBM' 'Infoorigin inc' 'Data Patterns' 'Deep Labs' 'Nauto'
 'Journey Foods' 'Albertsons Companies' 'BridgeBio' 'Deloitte'
 'Urbane Systems LLC' 'Cisco Systems' 'The New York Times'
 'APPIC Solutions LLC' 'TSC' 'Insight Enterprises, Inc.' nan
 'Ford Motor Company' 'Pit.AI Technologies Inc.' 'Digital Dhara' 'Siemens'
 'World Services LLC' 'Upwork' 'Agile N2N Inc' 'IntegrateUs Services'
 'Amer Technology In' 'Newsly Technologies' 'Denken Solutions Inc'
 'PMCS Services, Inc' 'Pinnacle Group' 'Okaya Inc' 'Nestria'
 'McKinsey & Company' 'DeepHow' 'NSI Inc.' 'BigRIO' 'SquadMethod'
 'Measurabl' 'CORMAC' 'Civis Analytics' 'OpenTable' "Sam's Club" 'Nexient'
 'Syrinx' 'Space Telescope Science Institute' 'Fidelity Investments'
 'InnovaCare Partners, LLC' 'Keen Decision Systems' 'Novartis'
 'Assetmark Trust' 'Takeda Pharmaceutical' 'Covenant Physician Partners'
 'Premier Health' 'BISSELL' "Children's Hospital & Medical Center"
 'Ferguson' 'Fanatics Inc.' 'GEICO' 'Embrace Home Loans'
 'Equity Residential' 'Lexmark International, Inc.' 'RUE GILT GROUPE'
 'NCCI' 'Fannie Mae' 'Discover' 'Alteryx, Inc.'
 'Alliant Cooperative Data Solutions' 'Sellen Construction' 'Tripp Lite'
 'Tang & Company' 'CBRE' 'Nebraska Book Company' 'GoodCell' 'Lucid Motors'
 'Conagra Brands' 'LMI Technologies' 'Vera Whole Health' 'Amyx, Inc.'
 'Seattle Cancer Care Alliance' 'Fora Financial LLC'
 'Skidmore, Owings & Merrill' 'Spectrum' 'Liberty Mutual Insurance'
 'Hewlett Packard Enterprise' 'Kennesaw State University' 'SMS group Inc'
 'Sandia National Laboratories' 'Arm' 'MathWorks' 'Uline' 'Park Dental'
 'NT Concepts' 'Synchrony' 'Confidential' 'LCS' 'OneOf' 'Infosys Limited'
 'Miami Cancer Institute at Baptist Health' 'KANTAR' 'Battelle'
 'Johns Hopkins Applied Physics Laboratory (APL)' 'DesignMind'
 'Oportun Inc' 'Varsity Tutors' 'United Therapeutics'
 'National Rural Utilities Cooperative Finance Corporation'
 'GreatAmerica Financial Services' 'DISQO' 'Catalent Pharma Solutions'
 'NU Borders' 'Skyways' 'Total Quality Logistics (TQL)' 'Reaktor'
 'Mercyhealth' 'Tealium' 'CareJourney' 'SubjectWell' "Dillard's, Inc."
 'Everytown for Gun Safety' 'Pernod Ricard' 'Callahan & Associates'
 'Vanderbilt University Medical Center' 'Peraton' 'Accenture'
 'AmerisourceBergen' 'Smithfield Foods'
 'Tennessee Housing Development Agency'
 'ManTech International Corporation' 'Aunalytics' 'Noblis'
 'General Dynamics Mission Systems, Inc' 'Enquire Solutions'
 'Progress Rail Services Corp.' 'Kite Pharma' 'Entegris, Inc.' 'HPOne'
 'MAP Communications' 'Intuit' 'Modea' 'NFI Industries' 'PsychoGenics'
 'Visiting Nurse Association of Central Jersey' 'Surescripts, LLC'
 'CircusTrix, LLC' 'CDK Global' 'Onco360' 'AVANGRID' 'TBK Bank, SSB'
 'Protect My Car' 'ENSCO, Inc.' 'Air Products' 'Icon Fitness' 'ASML'
 'Udemy' 'All Web Leads' 'AHA American Hospital Association'
 'ADNET Systems, Inc.' 'Systems Planning and Analysis, Inc.'
 'Glidewell Dental Laboratories' 'ITI Data' "McCoy's Building Supply"
 'Signavio' 'Gundersen - La Crosse Main Campus' 'Grimmway Enterprises'
 'Paycom Payroll Llc' 'Charles Schwab' 'Credera' 'General Dynamics'
 'BioFire Diagnostics, LLC.' 'Indeed Flex' 'Vizient, Inc.' 'Apple' 'MUFG'
 'ServiceNow' 'Town Fair Tire' 'Western Home Communities' 'Linesight'
 'eXcell' 'Pitney Bowes' 'Deephaven Data Labs' 'McLaughlin Gormley King'
 'Grand Rounds' 'Nestle Purina PetCare Company' 'TTX' 'Medata Inc'
 'Alyn Inc.' 'Cognizant Technology Solutions' 'Intapp'
 'Strategic Financial Solutions' 'Medicago' 'Agilent Technologies, Inc.'
 'Tundraland' 'Bloomberg' 'ASR ANALYTICS LLC' 'Biz2Credit Inc'
 'Ebara Technologies Incorporated' 'Huntington Bank' 'AUGR LLC'
 'Perrigo Company' 'Modular Mining Systems, Inc.' 'Columbia Sportswear'
 'BankUnited' 'Harmony Senior Services' 'Edward-Elmhurst Health'
 'Spectrum Communications & Consulting Inc.'
 'Workforce Opportunity Services' 'DataScan' 'Herdt Consulting Inc'
 '3 Step Recruitment Inc.' 'Menusifu, Inc.' 'Leidos' 'Healthfirst'
 'PubNub' 'IFG Companies' 'TruStar Marketing' 'Phoenix Resourcing Group'
 'Vibrent Health' 'Seattle Indian Health Board'
 'Penn State Health Milton S. Hershey Medical Center'
 'Banfield Pet Hospital' 'Biz2Credit Inc.' 'Essential Software Inc.'
 'ACCO Brands' 'PharmaCare US, Inc.' 'Berry Technology'
 'Lancer Insurance Company' 'EpochGeo' 'PEX' 'GID Investment Advisers LLC'
 'Burkett Restaurant Equipment' 'Firefighters First Credit Union'
 'CareAdvisors' 'Parsons' 'Comcast' 'Addison Group'
 'Benefits Science Technologies' 'TeamSoft, Inc - a Peoplelink Company'
 'New Light Technologies, Inc.' 'BMO Harris Bank' 'XSOLIS'
 'Logistics Plus, Inc.' 'Knowledge Services'
 'Northwest Federal Credit Union' 'Unum' 'Taboola'
 'Dovenmuehle Mortgage, Inc.' 'Colgate-Palmolive' 'MORSE Corp'
 'CODA, Inc.' 'Hayes Locums, LLC' 'Cyient' 'Cash Factory USA'
 'Funding Circle US' 'Mayo Clinic' 'National Interstate'
 'Hartford Hospital' 'First Tech Federal Credit Union' 'Lorien'
 'The Execu|Search Group' 'FirstKey Homes, LLC' 'Airgas Inc.' 'BlueChew'
 'Thermo Fisher Scientific' 'Envision LLC' 'AccruePartners' 'Union Bank'
 'NJM Insurance Group' 'Rio Tinto' 'Hyphen' 'Natus Medical Incorporated'
 'Mission Essential' 'Kidney Specialists Of Southern Nevada'
 'Parkland Health and Hospital System' 'Del Sol Medical Center'
 'JobTarget' 'Elder Research Inc' 'CACI' 'Northrop Grumman'
 'Daley and Associates' "Hill's Pet Nutrition" 'Macy’s' 'BrainWorks'
 'Freddie Mac' 'Booz Allen Hamilton' 'MassMutual'
 'North Memorial Healthcare'
 'AWM Smart Shelf (Adroit Worldwide Media, Inc.)' 'Tripalink'
 'Fidelity TalentSource' 'Morgan Hunter' 'J.Jill' 'Predictive Sales AI'
 'Grant Associates' 'Spokeo' 'Career Transitions' 'PayPal'
 'Publicis Groupe' 'Acacia Network' 'Express Employment Professionals'
 'Savant' 'Ezoic' 'Arrow Electronics' 'SMS Assist, LLC'
 'Wavicle Data Solutions' 'OneMain Financial' 'xentity corporation'
 'Kforce' 'Educational Federal Credit Union' 'DealerPolicy'
 'American Advisors Group' 'FourthWall Media, Inc.' 'Capital One'
 'Lyneer Staffing Solutions' 'Raybeam, Inc.' 'Northwestern Mutual'
 'Datalot' 'Flexential' 'Giving Assistant'
 'Northeast Georgia Health System' 'Profile Placement Services, LLC'
 'IQVIA' 'Snap Finance' 'The Superior Group' 'Tech Observer'
 'Osmose Utilities Services' 'Cigent Technology, Inc.' 'The HT Group'
 'Software AG' 'LG Energy Solution Michigan, Inc.' 'Epsilon'
 'Health Data Analytics Institute' 'Net Pay Advance, Inc.'
 'Reyes Holdings' 'Umlaut' 'EOS' 'Skan' 'PCS Wireless'
 'Bon Secours Mercy Health' 'Hilton Grand Vacations'
 'Kanini Software Solutions' 'Verizon' 'CarMax' 'Cox Communications Inc'
 'Robert Half' 'HCL Technologies' 'Disney Streaming Services'
 'Momentum Staffing Group LLC' 'TEKsystems' 'ECS Tuning'
 'MATRIX Resources' 'North Highland' 'Money Mart Financial Services'
 'Onward Search' 'TikTok' 'Genworth' 'TechniPower, Inc.' 'Avant'
 'PCS Global Tech' 'Databricks' 'Intralinks' 'Sumo Logic'
 'Oxford Global Resources' 'Costco Wholesale' 'Finrise' 'Cleveland Clinic'
 'Citi' 'H&R Block' 'John Hancock' 'Qlarant' 'Atlassian'
 'American Heart Association' 'Rhino New York' 'Bankers Healthcare Group'
 'TuSimple, Inc.' 'Bayer' '6sense' 'Dataiku' 'Density' 'ZS Associates'
 'Niantic' 'Zscaler' 'Parkview Health' 'Hach' 'PPL Corporation'
 'Stratifyd' 'Kimball Midwest' 'Cloudflare' 'opentext'
 'Amazon.com Services LLC' 'Red Dot Storage' 'Highmark Health'
 'Cardtronics' 'STR' 'RED TECHNOLOGIES' 'Komodo Health' 'Nuro' 'GSK'
 'Concordia University Texas' 'GoPuff' 'VSolvit LLC'
 'Laidig Systems, Inc.' 'Chipton-Ross' 'Pacific Life' 'Reveal Biosciences'
 'Dow Jones' 'Kelly' 'BASF' 'GTS, Inc. Corporate' 'RedJack' 'Mars Inc.'
 'Stellantis' 'PG&E Corporation' 'United Fire & Casualty Co'
 'Artis Consulting' 'NeuroPace, Inc.' 'Intel' 'Slack' 'eBay Inc.'
 'Kapitus' 'Amgen' 'DataCamp' 'Shure'
 'Johnson & Johnson Family of Companies' 'Clever Devices'
 'Modern Fertility' 'UC San Diego' 'FreedomCare' 'AstraZeneca'
 'Resonance AI' 'Bolt' 'Resilience' 'Woz U' 'Contus' 'Kagr Llc' 'Drizly'
 'Planned Systems International' 'Coinbase'
 'University of California San Francisco' 'Guidehouse' 'Reliant Funding'
 'EQUITAS Life Sciences' 'Greater Kansas City Community Foundation'
 'IntraFi Network' 'Omaha Public Power District'
 'Energy Transfer Partners' 'Landos Biopharma, Inc.'
 'The Jackson Laboratory' 'Northwest Farm Credit Services'
 'Shelter Insurance' 'NVIDIA' '2U' 'JLG Industries' 'Joby Aviation'
 'Dealerware' 'True Rx Management Services' 'Anthem'
 'Southworth Products Corp.' 'Student Conservation Association'
 'Polara Health' 'Edison Welding Institute Inc' 'Intelligent Automation'
 'Soaren Management' 'HealthVerity' 'Pall Corporation'
 'The Papé Group, Inc.' 'Black Box VR' 'UPMC' 'Dart Container'
 'Syneos Health Clinical' 'Village Concepts' 'SalesPad, LLC'
 'Alter Health Group' 'SAGE Therapeutics' 'Stealth Mode Startup Company'
 'DePaul Cristo Rey High School' 'Global Atlantic Financial Group'
 'Charles River Laboratories' 'IQ Inc' 'Deke'
 'Hopkins Manufacturing Corporation' 'Continental Finance Company, LLC'
 'Hudson Homes' 'BioMed Realty' 'SciPlay' 'Definitive Logic'
 'Bright Byte Consulting' 'C3 AI' 'Maden Technologies' 'Alan Ritchey, Inc'
 'PowerAdvocate' 'Adroit Worldwide Media, Inc (AWM)' 'EAB' 'T. Rowe Price'
 'Troika Media Group, Inc' 'Precision Aircraft Solutions'
 'Avispa Technology' 'Big Tex Holding Inc'
 'Fred Hutchinson Cancer Research Center' 'The Maxis Group' 'TriMedx'
 'GE Healthcare' 'Nebraska Furniture Mart' 'Raymond James Financial'
 'CGI Group, Inc.' 'Range Digital Marketing' 'Revel IT'
 'Constellation Brands' 'Digital Republic Recruitment'
 'Salud Revenue Partners' 'TENERE Inc' 'Living Spaces'
 'Blue Cypress Consulting' 'CloudMedx' 'Path-Tec' 'Found Professionals'
 'Zions Bancorporation' 'Sure Secure Solutions' 'Gestalt Diagnostics'
 'Resource Management Concepts, Inc.' 'CACI, INC-FEDERAL'
 'Johns Hopkins Health Care' 'QuinStreet' 'Spherion'
 'Healthy Back Institute' 'GENETWORx/Recovery Centers of America'
 'WanderJaunt' 'Year Up' 'Mythical Games' 'Simplex'
 'Lloyd & McDaniel, PLC' 'Roche' 'Capgemini' 'Coding Dojo' 'Enamix Inc'
 'The Intersect Group' 'RMDS Lab' 'Digital Trike' 'FedEx Services'
 'Walmart' 'United Solutions LLC' 'Nike'
 'National Renewable Energy Laboratory' 'Volant Trading'
 'IdentifyUp, Inc.' 'Insurify' 'Aurora' 'Aurora Innovation'
 'City of Norfolk, VA' 'Axcelis Technologies Inc.'
 'Anjaman Technologies LLC' 'Delta'
 'Community Health Center Association of Connecticut' 'Turo' 'CVS Health'
 'PerBlue' 'Passion' 'Lithia Home Office' 'Argonne National Laboratory'
 'Luxoft' 'Atlanta Regional Commission' 'LeanTaaS' 'Boostability'
 'Fleetmaster Express, Inc.' 'Inari Agriculture'
 'Universal Business Solutions' 'DSM' 'Department of Energy' 'Gentherm'
 'Indiana University' 'Camgian' 'S&P Global' 'Williams College'
 'Energybox Inc.' 'Innovent Biologics(Suzhou)Co.,Ltd.' 'Treeco Group'
 'FAAZ Consulting' 'people*strata' 'George Washington University'
 'MD Anderson Cancer Center' 'LOCKHEED MARTIN CORPORATION'
 'Piper Companies' 'Mitre Corporation' 'Dataspace' 'FinTek Solutions LLC'
 'VIZIO, Inc.' 'Brilliant' 'Data Xpander' 'Source Enterprises'
 'Øptimus Consulting' 'clubcarwash' 'Workman Forensics' 'Grid Dynamics'
 'CY9' 'Flipside Crypto' 'Elutions' 'Amica Insurance Company' 'Ascension'
 'Bose' 'Nova Collective' 'California State University' 'Titan America'
 'Scientific Games' 'Salt Lake Community College'
 'University of California, Santa Barbara' 'Stanford University'
 'Peapod Digital Labs' 'Reynolds and Reynolds' 'CBL Solutions'
 'John Deere' 'Ars Quanta' 'Numerdox' 'Cuker' 'UTOFUN' 'Chubb' 'Fortna'
 'Scipher Medicine' 'PRISM Spectrum Holdings' 'Galvanize Inc.'
 'Lewis & Clark' 'Hunter Engineering' 'Marimn Health' 'CAES'
 'Accessory Power' 'BioFire Defense' 'Putnam County Hospital' 'UW Health'
 'Rush University Medical Center' 'Knight Transportation' 'AINS' 'BIO'
 "St. Luke's Hospital" 'ASC - East Petersburg' 'Clarios'
 'Matinas Biopharma' 'KeHE Distributors, LLC' 'Density Inc.'
 'Aerosafe Global' 'Nordstrom' 'DALB, Inc.' 'Global Nephrology Solutions'
 'Federal Staffing Solutions Inc.' 'Sparrow' 'The Swan Group'
 'Ripple Street' 'Doximity' 'Higginbotham'
 'Martin Luther King, Jr. Community Hospital' 'ICON International'
 'Just - Evotec Biologics' 'American Textile Company' 'LPL Financial'
 'Kum & Go' 'WD-40 Company' 'Home Care Assistance' 'Oakwood Search'
 'AlohaCare' 'Cybereason' 'Cenlar FSB' 'HealthTrackRx'
 'Premier Employee Solutions' 'VA Boston Healthcare System'
 'YinzCam, Inc.' 'University of Detroit Mercy' 'CardWorks'
 'Foundation for Medical Care of Tulare & Kings Counties, Inc.' 'Best Buy'
 'Sumner & Scott' 'Orsus Research' 'DePaul University' 'Adept Consultants'
 'Addx Corporation' 'Dell Technologies']
Column Name:  Sector
Sector ['Unknown / Non-Applicable' 'Retail' 'Government' 'Education'
 'Manufacturing' 'Finance' 'Information Technology' 'Insurance'
 'Oil, Gas, Energy & Utilities' 'Biotech & Pharmaceuticals'
 'Telecommunications' 'Accounting & Legal' 'Health Care'
 '$500 million to $1 billion (USD)' 'Business Services' nan
 '$5 to $10 million (USD)' 'Transportation & Logistics'
 '$2 to $5 billion (USD)' '$100 to $500 million (USD)'
 'Construction, Repair & Maintenance' 'Aerospace & Defense' 'Non-Profit'
 '$1 to $2 billion (USD)' '$10 to $25 million (USD)'
 '$1 to $5 million (USD)' 'Real Estate' '$10+ billion (USD)'
 'Mining & Metals' 'Less than $1 million (USD)' 'Travel & Tourism' 'Media'
 'Arts, Entertainment & Recreation' 'Consumer Services'
 '$5 to $10 billion (USD)' '$25 to $50 million (USD)'
 '$50 to $100 million (USD)']
Column Name:  Salary Estimate
Salary Estimate ['Employer Provided Salary:$60K' 'Employer Provided Salary:$91K - $145K'
 'Employer Provided Salary:$109K - $173K'
 'Employer Provided Salary:$96 Per Hour' 'Employer Provided Salary:$90K'
 '$53 - $82 Per Hour(Employer est.)' '$48 - $58 Per Hour(Employer est.)'
 '$67 - $144 Per Hour(Employer est.)' '$100K - $130K (Employer est.)'
 '$24 - $48 Per Hour(Employer est.)' '$53 Per Hour(Employer est.)'
 '$64K - $122K (Glassdoor est.)' '$89K - $171K (Glassdoor est.)'
 '$42K - $82K (Glassdoor est.)' '$76K - $149K (Glassdoor est.)'
 '$58K - $118K (Glassdoor est.)' '$42K - $87K (Glassdoor est.)'
 '$55K - $109K (Glassdoor est.)' '$68K - $126K (Glassdoor est.)'
 '$55K - $112K (Glassdoor est.)' '$84K - $139K (Glassdoor est.)'
 '$95K - $186K (Glassdoor est.)' '$74K - $140K (Glassdoor est.)'
 '$34K - $72K (Glassdoor est.)' '$26K - $55K (Glassdoor est.)'
 '$23K - $50K (Glassdoor est.)' '$21K - $50K (Glassdoor est.)'
 '$25K - $54K (Glassdoor est.)' '$22K - $48K (Glassdoor est.)'
 '$24K - $53K (Glassdoor est.)' '$32K - $64K (Glassdoor est.)'
 '$29K - $56K (Glassdoor est.)' '$52K - $102K (Glassdoor est.)'
 '$54K - $118K (Glassdoor est.)' '$45K - $85K (Glassdoor est.)'
 '$59K - $110K (Glassdoor est.)' '$56K - $123K (Glassdoor est.)'
 '$61K - $118K (Glassdoor est.)' '$30K - $49K (Glassdoor est.)'
 '$61K - $92K (Glassdoor est.)' '$59K - $115K (Glassdoor est.)'
 '$101K - $189K (Glassdoor est.)' '$58K - $115K (Glassdoor est.)'
 '$71K - $145K (Glassdoor est.)' '$63K - $130K (Glassdoor est.)'
 '$71K - $128K (Glassdoor est.)' '$55K - $75K (Glassdoor est.)'
 '$73K - $139K (Glassdoor est.)' '$67K - $131K (Glassdoor est.)'
 '$80K - $164K (Glassdoor est.)' '$79K - $155K (Glassdoor est.)'
 '$59K - $109K (Glassdoor est.)' '$82K - $154K (Glassdoor est.)'
 '$112K - $195K (Glassdoor est.)' '$64K - $134K (Glassdoor est.)'
 '$73K - $143K (Glassdoor est.)' '$63K - $115K (Glassdoor est.)'
 '$72K - $134K (Glassdoor est.)' '$53K - $127K (Glassdoor est.)'
 '$65K - $132K (Glassdoor est.)' '$63K - $127K (Glassdoor est.)'
 '$61K - $122K (Glassdoor est.)' '$61K - $126K (Glassdoor est.)'
 '$61K - $123K (Glassdoor est.)' '$73K - $148K (Glassdoor est.)'
 '$77K - $113K (Glassdoor est.)' '$59K - $120K (Glassdoor est.)'
 '$58K - $120K (Glassdoor est.)' '$58K - $116K (Glassdoor est.)'
 '$22K - $52K (Glassdoor est.)' '$23K - $51K (Glassdoor est.)'
 '$29K - $65K (Glassdoor est.)' '$23K - $57K (Glassdoor est.)'
 '$22K - $53K (Glassdoor est.)' 'Employer Provided Salary:$54K - $80K'
 '$90K (Employer est.)' '$43 - $72 Per Hour(Employer est.)'
 '$14 - $16 Per Hour(Employer est.)' '$23 - $31 Per Hour(Employer est.)'
 '$56K - $118K (Employer est.)' '$34 - $54 Per Hour(Employer est.)'
 'Employer Provided Salary:$200K - $250K' 'Employer Provided Salary:$129K'
 '$72 Per Hour(Employer est.)' '$60K - $75K (Employer est.)'
 '$29 Per Hour(Employer est.)' '$54K - $80K (Employer est.)'
 'Employer Provided Salary:$82K' '$17 - $96 Per Hour(Employer est.)'
 '$49K - $91K (Glassdoor est.)' '$60K - $115K (Glassdoor est.)'
 '$81K - $152K (Glassdoor est.)' '$88K - $99K (Glassdoor est.)'
 '$63K - $140K (Glassdoor est.)' '$75K - $148K (Glassdoor est.)'
 '$48K - $88K (Glassdoor est.)' '$62K - $122K (Glassdoor est.)'
 '$60K - $121K (Glassdoor est.)' '$64K - $126K (Glassdoor est.)'
 '$52K - $106K (Glassdoor est.)' '$65K - $130K (Glassdoor est.)'
 '$26K - $61K (Glassdoor est.)' '$46K - $83K (Glassdoor est.)'
 'Employer Provided Salary:$66K' '$55K - $70K (Employer est.)']
Column Name:  Location
Location ['Remote' 'Richland, WA' 'Point a la Hache, LA' 'Plano, TX'
 'East Portland, OR' 'Redmond, WA' 'Bellevue, WA' 'Northbrook, IL'
 'The Woodlands, TX' 'United States' 'Sacramento, CA'
 'West Sacramento, CA' 'Los Angeles, CA' 'Mountain View, CA' 'Tempe, AZ'
 'Carlsbad, CA' 'New York, NY' 'Reston, VA' 'East Nashville, TN'
 'Charlotte Amalie, VI' 'Seattle, WA' 'Northridge, CA' 'Goleta, CA'
 'Cincinnati, OH' 'Irving, TX' 'Massachusetts' 'Austin, TX' 'Dallas, TX'
 'Colorado' 'Washington, DC' 'Augusta, ME' 'Fremont, CA' 'Palo Alto, CA'
 'Texas' 'Pleasanton, CA' 'Costa Mesa, CA' 'San Jose, CA' 'Sunnyvale, CA'
 'Englewood, CO' 'Charlotte, NC' 'Dearborn, MI' 'Ice, KY' 'Los Gatos, CA'
 'Irvine, CA' 'Memphis, TN' 'East Boston, MA' 'San Diego, CA' 'Illinois'
 'Baltimore, MD' 'Boston, MA' 'Orlando, FL' 'Ewing, NJ' 'Cambridge, MA'
 'Chicago, IL' 'Thousand Oaks, CA' 'Nashville, TN' 'Dayton, OH'
 'Grand Rapids, MI' 'Omaha, NE' 'Newport News, VA' 'Jacksonville, FL'
 'Chevy Chase, MD' 'Middletown, RI' 'Lexington-Fayette, KY'
 'Boca Raton, FL' 'Denver, CO' 'Riverwoods, IL' 'Brewster, NY'
 'Torrance, CA' 'Lincoln, NE' 'Waltham, MA' 'Newark, CA' 'Arlington, VA'
 'Ann Arbor, MI' 'San Francisco, CA' 'Stamford, CT' 'Houston, TX'
 'Kennesaw, GA' 'Pittsburgh, PA' 'Albuquerque, NM' 'Natick, MA'
 'Milwaukee, WI' 'Roseville, MN' 'Herndon, VA' 'Rosslyn, VA'
 'Des Moines, IA' 'Miami, FL' 'Lisle, IL' 'Columbus, OH' 'Laurel, MD'
 'California' 'Hempstead, NY' 'Tucson, AZ' 'Silver Spring, MD'
 'Dulles, VA' 'Cedar Rapids, IA' 'Boulder, CO' 'Glendale, CA'
 'Pleasant Prairie, WI' 'Madison, WI' 'Alexandria, VA' 'Manor, TX'
 'Janesville, WI' 'Skokie, IL' 'Glencoe, IL' 'Little Rock, AR'
 'Colorado Springs, CO' 'Annapolis Junction, MD' 'Boise, ID'

# To do list:
    1. Parsing Sector to have only valid Sector names, replace them with 'Unknown / Non-Applicable'
    2. Parsing Salary to have valid Salary and calculating the average salary (independent variable)
    3. Introducing state feature from location feature
    4. Parsing Type of Ownership to have valid Type of ownership names, replace them with 'Unknown / Non-Applicable'
    5. Parsing job title to have clear knowledge about job title. replace jr, sr, etc with junior and senior.
    6. Parsing the Founded to have valid years, replace invalid years with unknown
    7. Parsing Job Description to get useful keywords (repeated key words)
    8. Description Length
    9. Features data type
    10. Exporting the file with the name 'datacleaned.csv' file

In [15]:
dataset = raw_dataset.copy(deep=True)

## Parsing Sector to have only valid Sector names, replace them with 'Unknown / Non-Applicable'

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
dataset.columns

Index(['Revenue', 'Company Name', 'Sector', 'Salary Estimate', 'Location',
       'Type of Ownership', 'Industry', 'Job Title', 'Founded', 'Rating',
       'Job Description', 'Size'],
      dtype='object')

In [17]:
dataset['Sector'].value_counts()

Information Technology                1438
Business Services                      504
Biotech & Pharmaceuticals              307
Manufacturing                          286
Finance                                216
Health Care                            161
Unknown / Non-Applicable               147
Aerospace & Defense                    117
Insurance                              114
Transportation & Logistics             100
Education                               70
Travel & Tourism                        69
Oil, Gas, Energy & Utilities            56
Retail                                  56
Government                              54
Accounting & Legal                      52
$10+ billion (USD)                      24
Telecommunications                      19
$1 to $5 million (USD)                  19
$10 to $25 million (USD)                18
Non-Profit                              16
$500 million to $1 billion (USD)        14
Real Estate                             11
$5 to $10 million (USD)                  8
Consumer Services                        8
Mining & Metals                          8
$5 to $10 billion (USD)                  7
Construction, Repair & Maintenance       6
Media                                    5
$100 to $500 million (USD)               4
Less than $1 million (USD)               4
$2 to $5 billion (USD)                   4
$1 to $2 billion (USD)                   3
Arts, Entertainment & Recreation         1
$25 to $50 million (USD)                 1
$50 to $100 million (USD)                1
Name: Sector, dtype: int64

In [18]:
dataset['Sector'].unique()

array(['Unknown / Non-Applicable', 'Retail', 'Government', 'Education',
       'Manufacturing', 'Finance', 'Information Technology', 'Insurance',
       'Oil, Gas, Energy & Utilities', 'Biotech & Pharmaceuticals',
       'Telecommunications', 'Accounting & Legal', 'Health Care',
       '$500 million to $1 billion (USD)', 'Business Services', nan,
       '$5 to $10 million (USD)', 'Transportation & Logistics',
       '$2 to $5 billion (USD)', '$100 to $500 million (USD)',
       'Construction, Repair & Maintenance', 'Aerospace & Defense',
       'Non-Profit', '$1 to $2 billion (USD)', '$10 to $25 million (USD)',
       '$1 to $5 million (USD)', 'Real Estate', '$10+ billion (USD)',
       'Mining & Metals', 'Less than $1 million (USD)',
       'Travel & Tourism', 'Media', 'Arts, Entertainment & Recreation',
       'Consumer Services', '$5 to $10 billion (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)'],
      dtype=object)

In [19]:
parsed_sector_column = dataset['Sector'].apply(lambda x: str(x).replace(str(x), str(np.nan)) if('$' in str(x)) else x )
dataset = dataset.assign(parsed_sector = parsed_sector_column)
print("Original Value: ", raw_dataset['Sector'][110])
print("After Parsing: ", dataset['parsed_sector'][110])

Original Value:  $500 million to $1 billion (USD)
After Parsing:  nan

In [20]:
dataset.parsed_sector.unique()

array(['Unknown / Non-Applicable', 'Retail', 'Government', 'Education',
       'Manufacturing', 'Finance', 'Information Technology', 'Insurance',
       'Oil, Gas, Energy & Utilities', 'Biotech & Pharmaceuticals',
       'Telecommunications', 'Accounting & Legal', 'Health Care', 'nan',
       'Business Services', nan, 'Transportation & Logistics',
       'Construction, Repair & Maintenance', 'Aerospace & Defense',
       'Non-Profit', 'Real Estate', 'Mining & Metals', 'Travel & Tourism',
       'Media', 'Arts, Entertainment & Recreation', 'Consumer Services'],
      dtype=object)

In [21]:
dataset['parsed_sector'].value_counts()

Information Technology                1438
Business Services                      504
Biotech & Pharmaceuticals              307
Manufacturing                          286
Finance                                216
Health Care                            161
Unknown / Non-Applicable               147
Aerospace & Defense                    117
Insurance                              114
nan                                    107
Transportation & Logistics             100
Education                               70
Travel & Tourism                        69
Retail                                  56
Oil, Gas, Energy & Utilities            56
Government                              54
Accounting & Legal                      52
Telecommunications                      19
Non-Profit                              16
Real Estate                             11
Consumer Services                        8
Mining & Metals                          8
Construction, Repair & Maintenance       6
Media                                    5
Arts, Entertainment & Recreation         1
Name: parsed_sector, dtype: int64

## Parsing Salary to have valid Salary and calculating the average salary (independent variable)

In [22]:
dataset['Salary Estimate'].unique()

array(['Employer Provided Salary:$60K',
       'Employer Provided Salary:$91K - $145K',
       'Employer Provided Salary:$109K - $173K',
       'Employer Provided Salary:$96 Per Hour',
       'Employer Provided Salary:$90K',
       '$53 - $82 Per Hour(Employer est.)',
       '$48 - $58 Per Hour(Employer est.)',
       '$67 - $144 Per Hour(Employer est.)',
       '$100K - $130K (Employer est.)',
       '$24 - $48 Per Hour(Employer est.)', '$53 Per Hour(Employer est.)',
       '$64K - $122K (Glassdoor est.)', '$89K - $171K (Glassdoor est.)',
       '$42K - $82K (Glassdoor est.)', '$76K - $149K (Glassdoor est.)',
       '$58K - $118K (Glassdoor est.)', '$42K - $87K (Glassdoor est.)',
       '$55K - $109K (Glassdoor est.)', '$68K - $126K (Glassdoor est.)',
       '$55K - $112K (Glassdoor est.)', '$84K - $139K (Glassdoor est.)',
       '$95K - $186K (Glassdoor est.)', '$74K - $140K (Glassdoor est.)',
       '$34K - $72K (Glassdoor est.)', '$26K - $55K (Glassdoor est.)',
       '$23K - $50K (Glassdoor est.)', '$21K - $50K (Glassdoor est.)',
       '$25K - $54K (Glassdoor est.)', '$22K - $48K (Glassdoor est.)',
       '$24K - $53K (Glassdoor est.)', '$32K - $64K (Glassdoor est.)',
       '$29K - $56K (Glassdoor est.)', '$52K - $102K (Glassdoor est.)',
       '$54K - $118K (Glassdoor est.)', '$45K - $85K (Glassdoor est.)',
       '$59K - $110K (Glassdoor est.)', '$56K - $123K (Glassdoor est.)',
       '$61K - $118K (Glassdoor est.)', '$30K - $49K (Glassdoor est.)',
       '$61K - $92K (Glassdoor est.)', '$59K - $115K (Glassdoor est.)',
       '$101K - $189K (Glassdoor est.)', '$58K - $115K (Glassdoor est.)',
       '$71K - $145K (Glassdoor est.)', '$63K - $130K (Glassdoor est.)',
       '$71K - $128K (Glassdoor est.)', '$55K - $75K (Glassdoor est.)',
       '$73K - $139K (Glassdoor est.)', '$67K - $131K (Glassdoor est.)',
       '$80K - $164K (Glassdoor est.)', '$79K - $155K (Glassdoor est.)',
       '$59K - $109K (Glassdoor est.)', '$82K - $154K (Glassdoor est.)',
       '$112K - $195K (Glassdoor est.)', '$64K - $134K (Glassdoor est.)',
       '$73K - $143K (Glassdoor est.)', '$63K - $115K (Glassdoor est.)',
       '$72K - $134K (Glassdoor est.)', '$53K - $127K (Glassdoor est.)',
       '$65K - $132K (Glassdoor est.)', '$63K - $127K (Glassdoor est.)',
       '$61K - $122K (Glassdoor est.)', '$61K - $126K (Glassdoor est.)',
       '$61K - $123K (Glassdoor est.)', '$73K - $148K (Glassdoor est.)',
       '$77K - $113K (Glassdoor est.)', '$59K - $120K (Glassdoor est.)',
       '$58K - $120K (Glassdoor est.)', '$58K - $116K (Glassdoor est.)',
       '$22K - $52K (Glassdoor est.)', '$23K - $51K (Glassdoor est.)',
       '$29K - $65K (Glassdoor est.)', '$23K - $57K (Glassdoor est.)',
       '$22K - $53K (Glassdoor est.)',
       'Employer Provided Salary:$54K - $80K', '$90K (Employer est.)',
       '$43 - $72 Per Hour(Employer est.)',
       '$14 - $16 Per Hour(Employer est.)',
       '$23 - $31 Per Hour(Employer est.)',
       '$56K - $118K (Employer est.)',
       '$34 - $54 Per Hour(Employer est.)',
       'Employer Provided Salary:$200K - $250K',
       'Employer Provided Salary:$129K', '$72 Per Hour(Employer est.)',
       '$60K - $75K (Employer est.)', '$29 Per Hour(Employer est.)',
       '$54K - $80K (Employer est.)', 'Employer Provided Salary:$82K',
       '$17 - $96 Per Hour(Employer est.)',
       '$49K - $91K (Glassdoor est.)', '$60K - $115K (Glassdoor est.)',
       '$81K - $152K (Glassdoor est.)', '$88K - $99K (Glassdoor est.)',
       '$63K - $140K (Glassdoor est.)', '$75K - $148K (Glassdoor est.)',
       '$48K - $88K (Glassdoor est.)', '$62K - $122K (Glassdoor est.)',
       '$60K - $121K (Glassdoor est.)', '$64K - $126K (Glassdoor est.)',
       '$52K - $106K (Glassdoor est.)', '$65K - $130K (Glassdoor est.)',
       '$26K - $61K (Glassdoor est.)', '$46K - $83K (Glassdoor est.)',
       'Employer Provided Salary:$66K', '$55K - $70K (Employer est.)'],
      dtype=object)

In [23]:
dataset['Salary Estimate'].value_counts()

$23 - $31 Per Hour(Employer est.)         745
$53 Per Hour(Employer est.)               341
$56K - $118K (Employer est.)              200
$14 - $16 Per Hour(Employer est.)         178
$73K - $148K (Glassdoor est.)             157
$60K - $75K (Employer est.)               144
$29 Per Hour(Employer est.)               113
$24 - $48 Per Hour(Employer est.)         110
$61K - $122K (Glassdoor est.)              97
$61K - $123K (Glassdoor est.)              96
$72 Per Hour(Employer est.)                67
$43 - $72 Per Hour(Employer est.)          65
$54K - $80K (Employer est.)                65
$29K - $65K (Glassdoor est.)               65
$58K - $115K (Glassdoor est.)              52
$67 - $144 Per Hour(Employer est.)         46
$58K - $116K (Glassdoor est.)              46
$34 - $54 Per Hour(Employer est.)          43
$64K - $126K (Glassdoor est.)              39
$61K - $92K (Glassdoor est.)               30
$21K - $50K (Glassdoor est.)               30
$59K - $120K (Glassdoor est.)              29
$26K - $55K (Glassdoor est.)               29
$71K - $145K (Glassdoor est.)              28
$62K - $122K (Glassdoor est.)              28
$46K - $83K (Glassdoor est.)               28
$67K - $131K (Glassdoor est.)              28
$73K - $139K (Glassdoor est.)              28
$52K - $106K (Glassdoor est.)              28
$77K - $113K (Glassdoor est.)              27
$61K - $126K (Glassdoor est.)              27
$71K - $128K (Glassdoor est.)              27
$32K - $64K (Glassdoor est.)               27
$29K - $56K (Glassdoor est.)               27
$90K (Employer est.)                       27
$101K - $189K (Glassdoor est.)             27
$55K - $75K (Glassdoor est.)               26
$59K - $115K (Glassdoor est.)              26
$65K - $130K (Glassdoor est.)              26
$22K - $48K (Glassdoor est.)               26
$74K - $140K (Glassdoor est.)              26
$60K - $121K (Glassdoor est.)              26
$100K - $130K (Employer est.)              25
$63K - $130K (Glassdoor est.)              25
$52K - $102K (Glassdoor est.)              25
$24K - $53K (Glassdoor est.)               25
$22K - $53K (Glassdoor est.)               25
$63K - $127K (Glassdoor est.)              25
$53 - $82 Per Hour(Employer est.)          24
$30K - $49K (Glassdoor est.)               24
$45K - $85K (Glassdoor est.)               24
$22K - $52K (Glassdoor est.)               24
$61K - $118K (Glassdoor est.)              24
$23K - $51K (Glassdoor est.)               23
$34K - $72K (Glassdoor est.)               23
$58K - $120K (Glassdoor est.)              23
$23K - $57K (Glassdoor est.)               23
$55K - $70K (Employer est.)                22
$54K - $118K (Glassdoor est.)              22
$25K - $54K (Glassdoor est.)               22
$23K - $50K (Glassdoor est.)               22
$59K - $110K (Glassdoor est.)              22
$56K - $123K (Glassdoor est.)              21
$48 - $58 Per Hour(Employer est.)          21
$95K - $186K (Glassdoor est.)              20
$17 - $96 Per Hour(Employer est.)          19
$26K - $61K (Glassdoor est.)               19
$80K - $164K (Glassdoor est.)              18
$72K - $134K (Glassdoor est.)               7
Employer Provided Salary:$54K - $80K        7
Employer Provided Salary:$129K              4
Employer Provided Salary:$60K               4
$63K - $115K (Glassdoor est.)               4
$73K - $143K (Glassdoor est.)               4
$65K - $132K (Glassdoor est.)               3
$64K - $134K (Glassdoor est.)               3
$76K - $149K (Glassdoor est.)               3
$55K - $112K (Glassdoor est.)               3
$68K - $126K (Glassdoor est.)               3
$55K - $109K (Glassdoor est.)               3
Employer Provided Salary:$82K               3
$53K - $127K (Glassdoor est.)               2
Employer Provided Salary:$66K               2
$89K - $171K (Glassdoor est.)               2
$75K - $148K (Glassdoor est.)               2
$88K - $99K (Glassdoor est.)                2
$81K - $152K (Glassdoor est.)               2
$60K - $115K (Glassdoor est.)               2
$58K - $118K (Glassdoor est.)               2
$84K - $139K (Glassdoor est.)               2
Employer Provided Salary:$200K - $250K      2
$79K - $155K (Glassdoor est.)               2
$59K - $109K (Glassdoor est.)               2
Employer Provided Salary:$91K - $145K       2
$112K - $195K (Glassdoor est.)              2
$82K - $154K (Glassdoor est.)               2
$49K - $91K (Glassdoor est.)                1
$42K - $87K (Glassdoor est.)                1
$63K - $140K (Glassdoor est.)               1
$48K - $88K (Glassdoor est.)                1
$42K - $82K (Glassdoor est.)                1
$64K - $122K (Glassdoor est.)               1
Employer Provided Salary:$90K               1
Employer Provided Salary:$96 Per Hour       1
Employer Provided Salary:$109K - $173K      1
Name: Salary Estimate, dtype: int64

### Removing unnecessary text from 'Salary Estimate' to create new features out of it

In [24]:
removing_employer_provided_salary_text = dataset['Salary Estimate'].apply(lambda x: x.lower().replace("employer provided salary:", ''))
removing_employer_est_text = removing_employer_provided_salary_text.apply(lambda x: x.lower().replace("(employer est.)", '').replace("(glassdoor est.)", ''))
removing_dollar_sign = removing_employer_est_text.apply(lambda x: x.replace("$", ''))
removing_k_text = removing_dollar_sign.apply(lambda x: x.lower().replace("k", ''))

In [25]:
removing_k_text.unique()

array(['60', '91 - 145', '109 - 173', '96 per hour', '90',
       '53 - 82 per hour', '48 - 58 per hour', '67 - 144 per hour',
       '100 - 130 ', '24 - 48 per hour', '53 per hour', '64 - 122 ',
       '89 - 171 ', '42 - 82 ', '76 - 149 ', '58 - 118 ', '42 - 87 ',
       '55 - 109 ', '68 - 126 ', '55 - 112 ', '84 - 139 ', '95 - 186 ',
       '74 - 140 ', '34 - 72 ', '26 - 55 ', '23 - 50 ', '21 - 50 ',
       '25 - 54 ', '22 - 48 ', '24 - 53 ', '32 - 64 ', '29 - 56 ',
       '52 - 102 ', '54 - 118 ', '45 - 85 ', '59 - 110 ', '56 - 123 ',
       '61 - 118 ', '30 - 49 ', '61 - 92 ', '59 - 115 ', '101 - 189 ',
       '58 - 115 ', '71 - 145 ', '63 - 130 ', '71 - 128 ', '55 - 75 ',
       '73 - 139 ', '67 - 131 ', '80 - 164 ', '79 - 155 ', '59 - 109 ',
       '82 - 154 ', '112 - 195 ', '64 - 134 ', '73 - 143 ', '63 - 115 ',
       '72 - 134 ', '53 - 127 ', '65 - 132 ', '63 - 127 ', '61 - 122 ',
       '61 - 126 ', '61 - 123 ', '73 - 148 ', '77 - 113 ', '59 - 120 ',
       '58 - 120 ', '58 - 116 ', '22 - 52 ', '23 - 51 ', '29 - 65 ',
       '23 - 57 ', '22 - 53 ', '54 - 80', '90 ', '43 - 72 per hour',
       '14 - 16 per hour', '23 - 31 per hour', '56 - 118 ',
       '34 - 54 per hour', '200 - 250', '129', '72 per hour', '60 - 75 ',
       '29 per hour', '54 - 80 ', '82', '17 - 96 per hour', '49 - 91 ',
       '60 - 115 ', '81 - 152 ', '88 - 99 ', '63 - 140 ', '75 - 148 ',
       '48 - 88 ', '62 - 122 ', '60 - 121 ', '64 - 126 ', '52 - 106 ',
       '65 - 130 ', '26 - 61 ', '46 - 83 ', '66', '55 - 70 '],
      dtype=object)

### Differentiating 'per hour' salary and 'fixed' salary

In [26]:
per_hour_salary_jobs = removing_k_text.apply(lambda x: 1 if ('per hour' in x.lower()) else 0)
fixed_salary_jobs = removing_k_text.apply(lambda x: 1 if ('per hour' not in x.lower()) else 0)

In [27]:
dataset = dataset.assign(parsed_salary = removing_k_text)
dataset = dataset.assign(per_hour_salary_jobs = per_hour_salary_jobs)
dataset = dataset.assign(fixed_salary_jobs = fixed_salary_jobs)

In [28]:
dataset[['parsed_salary', 'per_hour_salary_jobs', 'fixed_salary_jobs']].value_counts()

parsed_salary      per_hour_salary_jobs  fixed_salary_jobs
23 - 31 per hour   1                     0                    745
53 per hour        1                     0                    341
56 - 118           0                     1                    200
14 - 16 per hour   1                     0                    178
73 - 148           0                     1                    157
60 - 75            0                     1                    144
29 per hour        1                     0                    113
24 - 48 per hour   1                     0                    110
61 - 122           0                     1                     97
61 - 123           0                     1                     96
72 per hour        1                     0                     67
29 - 65            0                     1                     65
43 - 72 per hour   1                     0                     65
54 - 80            0                     1                     65
58 - 115           0                     1                     52
58 - 116           0                     1                     46
67 - 144 per hour  1                     0                     46
34 - 54 per hour   1                     0                     43
64 - 126           0                     1                     39
21 - 50            0                     1                     30
61 - 92            0                     1                     30
59 - 120           0                     1                     29
26 - 55            0                     1                     29
62 - 122           0                     1                     28
52 - 106           0                     1                     28
73 - 139           0                     1                     28
46 - 83            0                     1                     28
67 - 131           0                     1                     28
71 - 145           0                     1                     28
90                 0                     1                     27
101 - 189          0                     1                     27
71 - 128           0                     1                     27
61 - 126           0                     1                     27
29 - 56            0                     1                     27
77 - 113           0                     1                     27
32 - 64            0                     1                     27
65 - 130           0                     1                     26
59 - 115           0                     1                     26
60 - 121           0                     1                     26
22 - 48            0                     1                     26
55 - 75            0                     1                     26
74 - 140           0                     1                     26
63 - 127           0                     1                     25
63 - 130           0                     1                     25
100 - 130          0                     1                     25
52 - 102           0                     1                     25
24 - 53            0                     1                     25
22 - 53            0                     1                     25
30 - 49            0                     1                     24
53 - 82 per hour   1                     0                     24
22 - 52            0                     1                     24
45 - 85            0                     1                     24
61 - 118           0                     1                     24
23 - 57            0                     1                     23
34 - 72            0                     1                     23
23 - 51            0                     1                     23
58 - 120           0                     1                     23
59 - 110           0                     1                     22
23 - 50            0                     1                     22
25 - 54            0                     1                     22
55 - 70            0                     1                     22
54 - 118           0                     1                     22
48 - 58 per hour   1                     0                     21
56 - 123           0                     1                     21
95 - 186           0                     1                     20
26 - 61            0                     1                     19
17 - 96 per hour   1                     0                     19
80 - 164           0                     1                     18
72 - 134           0                     1                      7
54 - 80            0                     1                      7
129                0                     1                      4
73 - 143           0                     1                      4
63 - 115           0                     1                      4
60                 0                     1                      4
68 - 126           0                     1                      3
76 - 149           0                     1                      3
55 - 112           0                     1                      3
65 - 132           0                     1                      3
64 - 134           0                     1                      3
82                 0                     1                      3
55 - 109           0                     1                      3
79 - 155           0                     1                      2
89 - 171           0                     1                      2
88 - 99            0                     1                      2
84 - 139           0                     1                      2
82 - 154           0                     1                      2
81 - 152           0                     1                      2
91 - 145           0                     1                      2
75 - 148           0                     1                      2
58 - 118           0                     1                      2
66                 0                     1                      2
60 - 115           0                     1                      2
59 - 109           0                     1                      2
53 - 127           0                     1                      2
200 - 250          0                     1                      2
112 - 195          0                     1                      2
64 - 122           0                     1                      1
63 - 140           0                     1                      1
49 - 91            0                     1                      1
48 - 88            0                     1                      1
42 - 87            0                     1                      1
42 - 82            0                     1                      1
90                 0                     1                      1
109 - 173          0                     1                      1
96 per hour        1                     0                      1
dtype: int64

### Calculating an Annual Salary from an Hourly Wage
Multiply the number of hours you work per week by your hourly wage. Multiply that number by 52 (the number of weeks in a year).

Example: If you make 20 dollars an hour and work 37.5 hours per week, your annual salary is 20 x 37.5 x 52 or 39,000 dollars per year.

### Creating minimum_salary	and annual_minimum_salary features

In [29]:
min_salary_column = dataset[['parsed_salary', 'per_hour_salary_jobs']].apply(lambda x: x.parsed_salary.split(' ')[0] if (x.per_hour_salary_jobs == 1) else x.parsed_salary.split(' ')[0], axis=1)
dataset = dataset.assign(minimum_salary = min_salary_column)

working_hours = 40 # 40 hours per week
no_of_weeks = 52 # 52 weeks in a year

min_salary_column_per_year = dataset[['per_hour_salary_jobs', 'minimum_salary']].apply(lambda x: int(x.minimum_salary)*working_hours*no_of_weeks if(x.per_hour_salary_jobs == 1) else int(x.minimum_salary)*1000, axis=1)
dataset = dataset.assign(annual_minimum_salary = min_salary_column_per_year)

In [30]:
dataset.head()

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000

In [31]:
dataset[['parsed_salary', 'per_hour_salary_jobs', 'fixed_salary_jobs', 'minimum_salary', 'annual_minimum_salary']].isnull().any()

parsed_salary            False
per_hour_salary_jobs     False
fixed_salary_jobs        False
minimum_salary           False
annual_minimum_salary    False
dtype: bool

### For creating maximum_salary and annual_maximum_salary

In [32]:
# For fixed salary jobs -> Ex: 60 (fixed salary)
max_salary_column = dataset[['parsed_salary', 'per_hour_salary_jobs']].apply(lambda x: x.parsed_salary.split(' ')[0] if( (x.per_hour_salary_jobs == 0) & (len(x.parsed_salary.split(' ')) == 1 ) ) else x.parsed_salary   , axis = 1)
dataset = dataset.assign(maximum_salary = max_salary_column)

# For fixed salary jobs -> Ex: 91-145 (fixed salary)
max_salary_column = dataset[['maximum_salary', 'per_hour_salary_jobs']].apply(lambda x: x.maximum_salary.split(' ')[2] if( (x.per_hour_salary_jobs == 0) & ('-' in x.maximum_salary) ) else x.maximum_salary   , axis = 1)
dataset = dataset.assign(maximum_salary = max_salary_column)

# For per hour jobs -> Ex: 96 per hour
max_salary_column = dataset[['maximum_salary', 'per_hour_salary_jobs']].apply(lambda x: x.maximum_salary.split(' ')[0] if( (x.per_hour_salary_jobs == 1) & (len(x.maximum_salary.split(' ')) == 3 ) ) else x.maximum_salary, axis = 1)
dataset = dataset.assign(maximum_salary = max_salary_column)

# For per hour salary jobs -> Ex: 53 - 82 per hour
max_salary_column = dataset[['maximum_salary', 'per_hour_salary_jobs']].apply(lambda x: x.maximum_salary.split(' ')[2] if( (x.per_hour_salary_jobs == 1) & ('-' in x.maximum_salary) ) else x.maximum_salary   , axis = 1)
dataset = dataset.assign(maximum_salary = max_salary_column)

In [33]:
max_salary_column_per_year = dataset[['per_hour_salary_jobs', 'maximum_salary']].apply(lambda x: int(x.maximum_salary)*working_hours*no_of_weeks if(x.per_hour_salary_jobs == 1) else (int(x.maximum_salary)*1000), axis=1)
dataset = dataset.assign(annual_maximum_salary = max_salary_column_per_year)

In [34]:
dataset.head(60)

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000
30,$10+ billion (USD),Toyota,Manufacturing,$53 - $82 Per Hour(Employer est.),"Plano, TX",Company - Public,Transportation Equipment Manufacturing,Junior Data Scientist,1957,3.9,Who We Are\nCollaborative. Respectful. A place...,10000+ Employees,Manufacturing,53 - 82 per hour,1,0,53,110240,82,170560
31,$10+ billion (USD),TransUnion,Manufacturing,$53 - $82 Per Hour(Employer est.),"East Portland, OR",Company - Public,Transportation Equipment Manufacturing,Data Engineer,1957,3.9,Who We Are\nCollaborative. Respectful. A place...,10000+ Employees,Manufacturing,53 - 82 per hour,1,0,53,110240,82,170560
32,$1 to $2 billion (USD),Identical Soft,Finance,$53 - $82 Per Hour(Employer est.),"Redmond, WA",Company - Public,Financial Analytics & Research,Data Scientist,1968,4.0,"What We'll Bring:\nAt TransUnion, we have a we...",5001 to 10000 Employees,Finance,53 - 82 per hour,1,0,53,110240,82,170560
34,Unknown / Non-Applicable,Microsoft,Information Technology,$53 - $82 Per Hour(Employer est.),"Bellevue, WA",Company - Private,Enterprise Software & Network Solutions,Data & Applied Scientist,2013,4.5,This role works within the organization and wi...,51 to 200 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
35,$10+ billion (USD),Allstate,Information Technology,$53 - $82 Per Hour(Employer est.),"Northbrook, IL",Company - Public,Computer Hardware & Software,Avail - Staff Data Scientist (Remote Home Base...,1975,4.4,At the Web Data team we're looking for a passi...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
36,$10+ billion (USD),Interview Query,Insurance,$53 - $82 Per Hour(Employer est.),Remote,Company - Public,Insurance Agencies & Brokerages,Data Science Content Developer,1931,3.5,Avail is a car sharing service to help people ...,10000+ Employees,Insurance,53 - 82 per hour,1,0,53,110240,82,170560
38,$10+ billion (USD),Ovintiv,Information Technology,$53 - $82 Per Hour(Employer est.),"The Woodlands, TX",Company - Public,Internet,Data Analytics Engineer,1998,4.5,Minimum qualifications:\nBachelor's degree in ...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
39,Unknown / Non-Applicable,Microsoft,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),United States,Company - Public,Oil & Gas Exploration & Production,Content Developer 1,2002,3.3,"As an employer, we foster an exciting culture ...",1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560
40,$10+ billion (USD),Pivosys Inc.,Information Technology,$53 - $82 Per Hour(Employer est.),"Sacramento, CA",Company - Public,Computer Hardware & Software,Python Developer -With Data Science Experience,1975,4.4,"Content Developer, Microsoft Machine Learning ...",10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
42,$500 million to $1 billion (USD),Envision,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),"West Sacramento, CA",Government,Energy,Data Scientist with statistics focus – entry l...,1965,4.1,Organization and Job ID\nJob ID: 312324\nDirec...,1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560
44,$10+ billion (USD),Netflix,Information Technology,$53 - $82 Per Hour(Employer est.),"Los Angeles, CA",Company - Public,Internet,"Manager, Studio Production Data Science and En...",1994,3.8,2+ years of non-internship professional softwa...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
45,$5 to $10 billion (USD),Specific Diagnostics,Information Technology,$53 - $82 Per Hour(Employer est.),"Mountain View, CA",Company - Public,Internet,Data Scientist/Data Analysis,1997,4.2,"Los Angeles, California\nData Science and Engi...",5001 to 10000 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
47,Unknown / Non-Applicable,Microsoft,Government,$53 - $82 Per Hour(Employer est.),"Redmond, WA",Government,State & Regional Agencies,Data Scientist II,1796,3.6,Executive Service\nData Analystics Statistical...,10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560
48,$10+ billion (USD),Arizona State University,Information Technology,$53 - $82 Per Hour(Employer est.),"Tempe, AZ",Company - Public,Computer Hardware & Software,Director of Data Science,1975,4.4,"While many businesses collect data, few can co...",10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
49,$1 to $2 billion (USD),Amgenium LLC,Education,$53 - $82 Per Hour(Employer est.),"Carlsbad, CA",College / University,Colleges & Universities,Data Engineer,1885,4.3,The Decision Center for Educational Excellence...,5001 to 10000 Employees,Education,53 - 82 per hour,1,0,53,110240,82,170560
51,$10+ billion (USD),Spotify,Biotech & Pharmaceuticals,$53 - $82 Per Hour(Employer est.),"New York, NY",Company - Public,Biotech & Pharmaceuticals,"Machine Learning Research Scientist, Algorithm...",1891,4.2,Job Description\nThe Future Talent Program fea...,10000+ Employees,Biotech & Pharmaceuticals,53 - 82 per hour,1,0,53,110240,82,170560
52,Unknown / Non-Applicable,Applied Information Sciences,Information Technology,$53 - $82 Per Hour(Employer est.),"Reston, VA",Company - Public,Internet,Data Engineer,2006,4.2,"Data, Research & Insights\nTrust & Safety\nSpo...",5001 to 10000 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
53,$50 to $100 million (USD),State of Tennessee,Information Technology,$53 - $82 Per Hour(Employer est.),"East Nashville, TN",Company - Private,IT Services,CHIEF DATA AND ANALYTICS OFFICER-20237,1982,4.4,"Intro:\nAs a Data Engineer, you will use cutti...",201 to 500 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
54,Unknown / Non-Applicable,US Internal Revenue Service,Government,$53 - $82 Per Hour(Employer est.),"Charlotte Amalie, VI",Government,State & Regional Agencies,Statistician (Data Scientist),1796,3.6,Executive Service\nCheif Data and Analytics Of...,10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560
55,Unknown / Non-Applicable,Pacific Northwest National Laboratory,Government,$53 - $82 Per Hour(Employer est.),"Richland, WA",Government,Federal Agencies,Mathematician,1862,3.7,"Duties\nSummary\nWHAT IS THE RESEARCH, APPLIED...",10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560
56,$500 million to $1 billion (USD),AT&T,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),"East Portland, OR",Government,Energy,Data Scientist,1965,4.1,Organization and Job ID\nJob ID: 312382\nDirec...,1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560
57,$10+ billion (USD),Toyota Connected North America,Telecommunications,$53 - $82 Per Hour(Employer est.),"Plano, TX",Company - Public,Telecommunications Services,Data Scientist,1983,3.6,Our Story\n\nXandr is a technology platform po...,10000+ Employees,Telecommunications,53 - 82 per hour,1,0,53,110240,82,170560
58,Unknown / Non-Applicable,Indeed,Information Technology,$53 - $82 Per Hour(Employer est.),"Seattle, WA",Company - Private,IT Services,Staff Data Scientist - AI Ethics,2016,3.4,Toyota Connected's Mobility team is responsibl...,51 to 200 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
59,$2 to $5 billion (USD),Medtronic,Information Technology,$53 - $82 Per Hour(Employer est.),"Northridge, CA",Company - Private,Internet,Senior Data Science and Signals Engineer,2004,4.3,Your Job\nThe AI Ethics team at Indeed builds ...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560
60,$10+ billion (USD),Microsoft,Biotech & Pharmaceuticals,$48 - $58 Per Hour(Employer est.),United States,Company - Public,Biotech & Pharmaceuticals,Content Developer 1,1949,4.1,Careers that Change Lives\nThe Diabetes Operat...,10000+ Employees,Biotech & Pharmaceuticals,48 - 58 per hour,1,0,48,99840,58,120640
61,$10+ billion (USD),Tech True Up,Information Technology,$48 - $58 Per Hour(Employer est.),Remote,Company - Public,Computer Hardware & Software,Data Scientist,1975,4.4,"Content Developer, Microsoft Machine Learning ...",10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
63,$10+ billion (USD),Amgenium LLC,Insurance,$48 - $58 Per Hour(Employer est.),"Carlsbad, CA",Company - Public,Insurance Agencies & Brokerages,Data Engineer,1931,3.5,Avail is a car sharing service to help people ...,10000+ Employees,Insurance,48 - 58 per hour,1,0,48,99840,58,120640
68,Unknown / Non-Applicable,Google,Information Technology,$48 - $58 Per Hour(Employer est.),"Goleta, CA",Company - Private,Enterprise Software & Network Solutions,"Quantum Hardware Test Engineer, Quantum AI",2013,4.5,This role works within the organization and wi...,51 to 200 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
69,$10+ billion (USD),First Soft Solutions [ Direct],Information Technology,$48 - $58 Per Hour(Employer est.),"Plano, TX",Company - Public,Internet,Azure Data Engineer,1998,4.5,Minimum qualifications:\nBachelor's degree in ...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
70,$10 to $25 million (USD),Microsoft,Accounting & Legal,$48 - $58 Per Hour(Employer est.),"Bellevue, WA",Company - Private,Accounting,Data & Applied Scientist,2006,3.2,Expert in Databricks\nAzure bigdata services.\...,51 to 200 Employees,Accounting & Legal,48 - 58 per hour,1,0,48,99840,58,120640
71,$10+ billion (USD),Spotify,Information Technology,$48 - $58 Per Hour(Employer est.),"New York, NY",Company - Public,Computer Hardware & Software,"Machine Learning Research Scientist, Algorithm...",1975,4.4,At the Web Data team we're looking for a passi...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
72,Unknown / Non-Applicable,Procter & Gamble,Information Technology,$48 - $58 Per Hour(Employer est.),"Cincinnati, OH",Company - Public,Internet,Data Scientist Masters,2006,4.2,"Data, Research & Insights\nTrust & Safety\nSpo...",5001 to 10000 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
73,$10+ billion (USD),Indeed,Manufacturing,$48 - $58 Per Hour(Employer est.),"Seattle, WA",Company - Public,Consumer Products Manufacturing,Staff Data Scientist - AI Ethics,1837,4.2,Do you enjoy design research and analytic fram...,10000+ Employees,Manufacturing,48 - 58 per hour,1,0,48,99840,58,120640
74,$2 to $5 billion (USD),"LockerDome, Inc.",Information Technology,$48 - $58 Per Hour(Employer est.),Remote,Company - Private,Internet,"Data Scientist, ML R&D",2004,4.3,Your Job\nThe AI Ethics team at Indeed builds ...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
75,Unknown / Non-Applicable,State of Tennessee,Information Technology,$48 - $58 Per Hour(Employer est.),"East Nashville, TN",Company - Private,Internet,DATA ANALYTICS STATISTICAL RESEARCH SPECIALIST...,2008,3.8,"LockerDome is an ad platform with a brain, des...",51 to 200 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
76,Unknown / Non-Applicable,Facebook,Government,$48 - $58 Per Hour(Employer est.),"New York, NY",Government,State & Regional Agencies,"Data Scientist, Analytics (PhD)",1796,3.6,Executive Service\nData Analystics Statistical...,10000+ Employees,Government,48 - 58 per hour,1,0,48,99840,58,120640
77,$10+ billion (USD),Goldman Sachs,Information Technology,$48 - $58 Per Hour(Employer est.),"New York, NY",Company - Public,Internet,Associate - ENGG5242699,2004,4.3,We're looking for Data Scientists to join some...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
78,$10+ billion (USD),veritis group inc,Finance,$48 - $58 Per Hour(Employer est.),"Irving, TX",Company - Public,Investment Banking & Asset Management,Data Scientist,1869,4.0,MORE ABOUT THIS JOB:\nAssociate with Goldman S...,10000+ Employees,Finance,48 - 58 per hour,1,0,48,99840,58,120640
80,$10+ billion (USD),Salesforce,Information Technology,$48 - $58 Per Hour(Employer est.),Massachusetts,Company - Private,Computer Hardware & Software,Fall 2021 Co-op - Data and Automation Analyst,1984,4.3,Please note this posting is to advertise poten...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
81,$10+ billion (USD),Spotify,Information Technology,$48 - $58 Per Hour(Employer est.),"New York, NY",Company - Public,Computer Hardware & Software,"Senior Data Scientist, Advertising",1999,4.4,"To get the best candidate experience, please c...",10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
82,Unknown / Non-Applicable,Microsoft,Information Technology,$48 - $58 Per Hour(Employer est.),"Redmond, WA",Company - Public,Internet,Data Scientist II,2006,4.2,"Data, Research & Insights\nData Science\nWe wo...",5001 to 10000 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
83,$10+ billion (USD),RapiSource LLC,Information Technology,$48 - $58 Per Hour(Employer est.),"Austin, TX",Company - Public,Computer Hardware & Software,Sr. Big Data Engineer,1975,4.4,"While many businesses collect data, few can co...",10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
85,$10+ billion (USD),Toyota Connected North America,Manufacturing,$48 - $58 Per Hour(Employer est.),"Plano, TX",Company - Public,Consumer Products Manufacturing,Data Scientist,1837,4.2,Do you enjoy design research and analytic fram...,10000+ Employees,Manufacturing,48 - 58 per hour,1,0,48,99840,58,120640
86,Unknown / Non-Applicable,Applied Information Sciences,Information Technology,$48 - $58 Per Hour(Employer est.),"Reston, VA",Company - Private,IT Services,Data Engineer,2016,3.4,Toyota Connected's Mobility team is responsibl...,51 to 200 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
87,$50 to $100 million (USD),Vastek Inc.,Information Technology,$48 - $58 Per Hour(Employer est.),"Dallas, TX",Company - Private,IT Services,Data Scientist,1982,4.4,"Intro:\nAs a Data Engineer, you will use cutti...",201 to 500 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640
92,$10+ billion (USD),Amgenium LLC,Information Technology,$67 - $144 Per Hour(Employer est.),"Carlsbad, CA",Company - Public,Computer Hardware & Software,Data Engineer,1975,4.4,"Content Developer, Microsoft Machine Learning ...",10000+ Employees,Information Technology,67 - 144 per hour,1,0,67,139360,144,299520
94,$10+ billion (USD),Google,Insurance,$67 - $144 Per Hour(Employer est.),"Goleta, CA",Company - Public,Insurance Agencies & Brokerages,"Quantum Hardware Test Engineer, Quantum AI",1931,3.5,Avail is a car sharing service to help people ...,10000+ Employees,Insurance,67 - 144 per hour,1,0,67,139360,144,299520
95,$10+ billion (USD),Teladoc Health,Information Technology,$67 - $144 Per Hour(Employer est.),Colorado,Company - Public,Internet,Data Engineer,1998,4.5,Minimum qualifications:\nBachelor's degree in ...,10000+ Employees,Information Technology,67 - 144 per hour,1,0,67,139360,144,299520
96,$100 to $500 million (USD),Microsoft,Health Care,$67 - $144 Per Hour(Employer est.),"Redmond, WA",Company - Public,Health Care Services & Hospitals,Data Engineer,2002,4.0,The Opportunity\nTeladoc Health is transformin...,1001 to 5000 Employees,Health Care,67 - 144 per hour,1,0,67,139360,144,299520
97,$10+ billion (USD),Microsoft,Information Technology,$67 - $144 Per Hour(Employer est.),"Bellevue, WA",Company - Public,Computer Hardware & Software,Data & Applied Scientist,1975,4.4,Do you love Games? Are you passionate about th...,10000+ Employees,Information Technology,67 - 144 per hour,1,0,67,139360,144,299520
98,$10+ billion (USD),Procter & Gamble,Information Technology,$67 - $144 Per Hour(Employer est.),"Cincinnati, OH",Company - Public,Computer Hardware & Software,Data Scientist Masters,1975,4.4,At the Web Data team we're looking for a passi...,10000+ Employees,Information Technology,67 - 144 per hour,1,0,67,139360,144,299520
99,$10+ billion (USD),Halo Solutions,Manufacturing,$67 - $144 Per Hour(Employer est.),Remote,Company - Public,Consumer Products Manufacturing,Data Scientist,1837,4.2,Do you enjoy design research and analytic fram...,10000+ Employees,Manufacturing,67 - 144 per hour,1,0,67,139360,144,299520
101,$10+ billion (USD),PRA Health Sciences,Information Technology,$67 - $144 Per Hour(Employer est.),Remote,Company - Private,Computer Hardware & Software,Statistical Programmer 1,1984,4.3,Please note this posting is to advertise poten...,10000+ Employees,Information Technology,67 - 144 per hour,1,0,67,139360,144,299520
102,$2 to $5 billion (USD),IBM,Biotech & Pharmaceuticals,$67 - $144 Per Hour(Employer est.),"Washington, DC",Company - Public,Biotech & Pharmaceuticals,Data Engineer,1976,4.1,ICON plc is a world-leading healthcare intelli...,10000+ Employees,Biotech & Pharmaceuticals,67 - 144 per hour,1,0,67,139360,144,299520
103,$10+ billion (USD),State of Tennessee,Information Technology,$67 - $144 Per Hour(Employer est.),"East Nashville, TN",Company - Public,IT Services,DATA ANALYTICS STATISTICAL RESEARCH SPECIALIST...,1911,3.9,"Introduction\nAs a data engineer at IBM, get r...",10000+ Employees,Information Technology,67 - 144 per hour,1,0,67,139360,144,299520

In [35]:
dataset.columns

Index(['Revenue', 'Company Name', 'Sector', 'Salary Estimate', 'Location',
       'Type of Ownership', 'Industry', 'Job Title', 'Founded', 'Rating',
       'Job Description', 'Size', 'parsed_sector', 'parsed_salary',
       'per_hour_salary_jobs', 'fixed_salary_jobs', 'minimum_salary',
       'annual_minimum_salary', 'maximum_salary', 'annual_maximum_salary'],
      dtype='object')

In [36]:
dataset[['minimum_salary',
       'annual_minimum_salary', 'maximum_salary', 'annual_maximum_salary']].isna().any()

minimum_salary           False
annual_minimum_salary    False
maximum_salary           False
annual_maximum_salary    False
dtype: bool

In [37]:
dataset[['parsed_salary', 'annual_minimum_salary', 'annual_maximum_salary']].value_counts()

parsed_salary      annual_minimum_salary  annual_maximum_salary
23 - 31 per hour   47840                  64480                    745
53 per hour        110240                 110240                   341
56 - 118           56000                  118000                   200
14 - 16 per hour   29120                  33280                    178
73 - 148           73000                  148000                   157
60 - 75            60000                  75000                    144
29 per hour        60320                  60320                    113
24 - 48 per hour   49920                  99840                    110
61 - 122           61000                  122000                    97
61 - 123           61000                  123000                    96
72 per hour        149760                 149760                    67
29 - 65            29000                  65000                     65
43 - 72 per hour   89440                  149760                    65
54 - 80            54000                  80000                     65
58 - 115           58000                  115000                    52
58 - 116           58000                  116000                    46
67 - 144 per hour  139360                 299520                    46
34 - 54 per hour   70720                  112320                    43
64 - 126           64000                  126000                    39
21 - 50            21000                  50000                     30
61 - 92            61000                  92000                     30
59 - 120           59000                  120000                    29
26 - 55            26000                  55000                     29
62 - 122           62000                  122000                    28
52 - 106           52000                  106000                    28
73 - 139           73000                  139000                    28
46 - 83            46000                  83000                     28
67 - 131           67000                  131000                    28
71 - 145           71000                  145000                    28
90                 90000                  90000                     27
101 - 189          101000                 189000                    27
71 - 128           71000                  128000                    27
61 - 126           61000                  126000                    27
29 - 56            29000                  56000                     27
77 - 113           77000                  113000                    27
32 - 64            32000                  64000                     27
65 - 130           65000                  130000                    26
59 - 115           59000                  115000                    26
60 - 121           60000                  121000                    26
22 - 48            22000                  48000                     26
55 - 75            55000                  75000                     26
74 - 140           74000                  140000                    26
63 - 127           63000                  127000                    25
63 - 130           63000                  130000                    25
100 - 130          100000                 130000                    25
52 - 102           52000                  102000                    25
24 - 53            24000                  53000                     25
22 - 53            22000                  53000                     25
30 - 49            30000                  49000                     24
53 - 82 per hour   110240                 170560                    24
22 - 52            22000                  52000                     24
45 - 85            45000                  85000                     24
61 - 118           61000                  118000                    24
23 - 57            23000                  57000                     23
34 - 72            34000                  72000                     23
23 - 51            23000                  51000                     23
58 - 120           58000                  120000                    23
59 - 110           59000                  110000                    22
23 - 50            23000                  50000                     22
25 - 54            25000                  54000                     22
55 - 70            55000                  70000                     22
54 - 118           54000                  118000                    22
48 - 58 per hour   99840                  120640                    21
56 - 123           56000                  123000                    21
95 - 186           95000                  186000                    20
26 - 61            26000                  61000                     19
17 - 96 per hour   35360                  199680                    19
80 - 164           80000                  164000                    18
72 - 134           72000                  134000                     7
54 - 80            54000                  80000                      7
129                129000                 129000                     4
73 - 143           73000                  143000                     4
63 - 115           63000                  115000                     4
60                 60000                  60000                      4
68 - 126           68000                  126000                     3
76 - 149           76000                  149000                     3
55 - 112           55000                  112000                     3
65 - 132           65000                  132000                     3
64 - 134           64000                  134000                     3
82                 82000                  82000                      3
55 - 109           55000                  109000                     3
79 - 155           79000                  155000                     2
89 - 171           89000                  171000                     2
88 - 99            88000                  99000                      2
84 - 139           84000                  139000                     2
82 - 154           82000                  154000                     2
81 - 152           81000                  152000                     2
91 - 145           91000                  145000                     2
75 - 148           75000                  148000                     2
58 - 118           58000                  118000                     2
66                 66000                  66000                      2
60 - 115           60000                  115000                     2
59 - 109           59000                  109000                     2
53 - 127           53000                  127000                     2
200 - 250          200000                 250000                     2
112 - 195          112000                 195000                     2
64 - 122           64000                  122000                     1
63 - 140           63000                  140000                     1
49 - 91            49000                  91000                      1
48 - 88            48000                  88000                      1
42 - 87            42000                  87000                      1
42 - 82            42000                  82000                      1
90                 90000                  90000                      1
109 - 173          109000                 173000                     1
96 per hour        199680                 199680                     1
dtype: int64

### Calculating average salary (independent variable)

In [38]:
dataset['average_salary'] = dataset[['annual_minimum_salary', 'annual_maximum_salary']].apply(lambda x: (x.annual_minimum_salary+x.annual_maximum_salary)/2, axis=1)

In [39]:
dataset.head()

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary,average_salary
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000,60000.0
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000,118000.0
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000,141000.0
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680,199680.0
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000,90000.0

## Introducing state feature from location feature

In [40]:
import us
dataset['Location'].unique()

array(['Remote', 'Richland, WA', 'Point a la Hache, LA', 'Plano, TX',
       'East Portland, OR', 'Redmond, WA', 'Bellevue, WA',
       'Northbrook, IL', 'The Woodlands, TX', 'United States',
       'Sacramento, CA', 'West Sacramento, CA', 'Los Angeles, CA',
       'Mountain View, CA', 'Tempe, AZ', 'Carlsbad, CA', 'New York, NY',
       'Reston, VA', 'East Nashville, TN', 'Charlotte Amalie, VI',
       'Seattle, WA', 'Northridge, CA', 'Goleta, CA', 'Cincinnati, OH',
       'Irving, TX', 'Massachusetts', 'Austin, TX', 'Dallas, TX',
       'Colorado', 'Washington, DC', 'Augusta, ME', 'Fremont, CA',
       'Palo Alto, CA', 'Texas', 'Pleasanton, CA', 'Costa Mesa, CA',
       'San Jose, CA', 'Sunnyvale, CA', 'Englewood, CO', 'Charlotte, NC',
       'Dearborn, MI', 'Ice, KY', 'Los Gatos, CA', 'Irvine, CA',
       'Memphis, TN', 'East Boston, MA', 'San Diego, CA', 'Illinois',
       'Baltimore, MD', 'Boston, MA', 'Orlando, FL', 'Ewing, NJ',
       'Cambridge, MA', 'Chicago, IL', 'Thousand Oaks, CA',
       'Nashville, TN', 'Dayton, OH', 'Grand Rapids, MI', 'Omaha, NE',
       'Newport News, VA', 'Jacksonville, FL', 'Chevy Chase, MD',
       'Middletown, RI', 'Lexington-Fayette, KY', 'Boca Raton, FL',
       'Denver, CO', 'Riverwoods, IL', 'Brewster, NY', 'Torrance, CA',
       'Lincoln, NE', 'Waltham, MA', 'Newark, CA', 'Arlington, VA',
       'Ann Arbor, MI', 'San Francisco, CA', 'Stamford, CT',
       'Houston, TX', 'Kennesaw, GA', 'Pittsburgh, PA', 'Albuquerque, NM',
       'Natick, MA', 'Milwaukee, WI', 'Roseville, MN', 'Herndon, VA',
       'Rosslyn, VA', 'Des Moines, IA', 'Miami, FL', 'Lisle, IL',
       'Columbus, OH', 'Laurel, MD', 'California', 'Hempstead, NY',
       'Tucson, AZ', 'Silver Spring, MD', 'Dulles, VA',
       'Cedar Rapids, IA', 'Boulder, CO', 'Glendale, CA',
       'Pleasant Prairie, WI', 'Madison, WI', 'Alexandria, VA',
       'Manor, TX', 'Janesville, WI', 'Skokie, IL', 'Glencoe, IL',
       'Little Rock, AR', 'Colorado Springs, CO',
       'Annapolis Junction, MD', 'Boise, ID', 'Smithfield, VA',
       'Lexington Park, MD', 'Traverse City, MI', 'Chantilly, VA',
       'Greenwood Village, Arapahoe, CO', 'La Grange, IL', 'Stafford, VA',
       'Santa Monica, CA', 'New York State', 'Kirkwood, MO',
       'Hoboken, NJ', 'Burnet, TX', 'Chesapeake, VA', 'Florham Park, NJ',
       'Chino, CA', 'Paramus, NJ', 'Chesterbrook, PA', 'Holmdel, NJ',
       'Minneapolis, MN', 'Virginia Beach, VA', 'Portland, OR',
       'New Haven, CT', 'San Antonio, TX', 'Coppell, TX',
       'Saint Petersburg, FL', 'Rome, NY', 'Allentown, PA', 'Logan, UT',
       'Lanham, MD', 'Utah', 'Springfield, VA', 'King of Prussia, PA',
       'West Chester, PA', 'San Marcos, TX', 'La Crosse, WI',
       'Bakersfield, CA', 'Grapevine, TX', 'Westlake, TX',
       'Salt Lake City, UT', 'Sugar Land, TX', 'Camden, NJ',
       'Santa Clara, CA', 'East Haven, CT', 'Cedar Falls, IA',
       'Fairfax, VA', 'Greenwood, IN', 'Brooklyn Park, MN',
       'Oklahoma City, OK', 'University Park, TX', 'Saint Louis, MO',
       'Phoenix, AZ', 'Durham, NC', 'Kaukauna, WI', 'Maryland',
       'Hillsboro, OR', 'Alabaster, AL', 'Tysons Corner, VA',
       'Allegan, MI', 'Miami Lakes, FL', 'Roanoke, VA', 'Warrenville, IL',
       'Alpharetta, GA', 'Bloomington, CA', 'Norfolk, VA',
       'Saint Paul, MN', 'Richmond, VA', 'Beavercreek, OH',
       'Lake Mary, FL', 'Bentonville, AR', 'Chapel Hill, NC',
       'Brentwood, TN', 'Marlborough, MA', 'Hershey, PA', 'Vancouver, WA',
       'West New York, NJ', 'Woodinville, WA', 'Atlanta, GA',
       'Greenbelt, MD', 'Richardson, TX', 'Perrysburg, OH',
       'Dahlgren, VA', 'Philadelphia, PA', 'Needham, MA',
       'Indianapolis, IN', 'Portland, ME', 'Albany, OR', 'Piscataway, NJ',
       'Fort Lauderdale, FL', 'Eglin AFB, FL', 'Las Vegas, NV',
       'Rochester, MN', 'Richfield, OH', 'Bethesda, MD', 'Hartford, CT',
       'Brooklyn, NY', 'Marietta, GA', 'Long Beach, CA', 'McLean, VA',
       'North Carolina', 'Radnor, PA', 'Schaumburg, IL', 'Fort Bragg, NC',
       'Huntsville, AL', 'El Paso, TX', 'Fort Meade, MD', 'Roy, UT',
       'South Bend, IN', 'Robbinsdale, MN', 'Aliso Viejo, CA',
       'Kansas City, MO', 'Quincy, MA', 'Bronx, NY', 'Pasadena, CA',
       'Mishawaka, IN', 'Hoffman Estates, IL', 'Toledo, OH',
       'Cleveland, OH', 'Centennial, CO', 'Tennessee', 'Lakewood, CO',
       'Williston, VT', 'Sterling, VA', 'Crystal Lake, IL',
       'Collegeville, PA', 'Gainesville, GA', 'Topeka, KS', 'Depew, NY',
       'Fort Myers, FL', 'Dedham, MA', 'Wichita, KS', 'Rosemont, IL',
       'Detroit, MI', 'Juno Beach, FL', 'Wadsworth, OH', 'Malvern, PA',
       'Cary, NC', 'Austin, MN', 'Raleigh, NC', 'Charlottesville, VA',
       'Redwood City, CA', 'Burlingame, CA', 'Cerritos, CA',
       'Fort Wayne, IN', 'Loveland, CO', 'Louisville, CO', 'Frisco, TX',
       'Woburn, MA', 'Rogers, AR', 'Merrifield, VA', 'Newport Beach, CA',
       'Whippany, NJ', 'North Chicago, IL', 'Fort Worth, TX',
       'Auburn Hills, MI', 'Webster, TX', 'Pennsylvania', 'Niles, IL',
       'Morrisville, NC', 'South San Francisco, CA', 'La Jolla, CA',
       'Foxboro, MA', 'Highland, MD', 'Essex, VT', 'Fort Belvoir, VA',
       'Mesa, AZ', 'Blacksburg, VA', 'Farmington, CT', 'Spokane, WA',
       'Columbia, MO', 'Garland, TX', 'Naperville, IL',
       'Canal Winchester, OH', 'Hagerstown, MD', 'Santa Cruz, CA',
       'Washington, IN', 'Trumbull, CT', 'Falmouth, ME', 'Beacon, NY',
       'Albany, NY', 'Allen, TX', 'Prescott Valley, AZ', 'Buffalo, NY',
       'Rockville, MD', 'Kalamazoo, MI', 'Scottsdale, AZ', 'Leesburg, VA',
       'Arlington, TX', 'Katy, TX', 'Westborough, MA', 'Livermore, CA',
       'Eugene, OR', 'Mason, MI', 'Somerset, NJ', 'Auburn, WA',
       'Fort Gordon, GA', 'Westfield, VA', 'Dana Point, CA', 'Dover, NH',
       'Berwyn, PA', 'Worcester, MA', 'New Jersey', 'Paris, TX',
       'Arlington Heights, IL', 'Wilmington, DE', 'Oro Valley, AZ',
       'Tampa, FL', 'Oceanside, CA', 'Newark, NJ', 'Aiea, HI',
       'Phillipsburg, NJ', 'Plainfield, NJ', 'Beaverton, OR',
       'Great Neck, NY', 'Addison, TX', 'Johns Creek, GA',
       'Plymouth Meeting, PA', 'Prairie Village, Johnson, KS',
       'Dublin, OH', 'Hull, MA', 'Osceola, WI', 'La Mirada, CA',
       'Decatur, GA', 'Glen Cove, NY', 'Lake Forest, IL', 'Columbus, GA',
       'Riverdale, MD', 'Reno, NV', 'Federal Way, WA', 'Charleston, SC',
       'Webster Groves, St. Louis, MO', 'Hanover, MD', 'Arizona',
       'Columbia City, IN', 'Yonkers, NY', 'Carrollton, TX',
       'Doylestown, PA', 'Louisville, KY', 'Seaside, CA',
       'South Jordan, UT', 'Virginia', 'Golden, CO', 'Sofia, NM',
       'Beverly, MA', 'Atlanta Central City Post Offi, GA',
       'Cheshire, CT', 'Chesterfield, MO', 'Medford, OR',
       'Middletown, NJ', 'Lehi, UT', 'Menlo Park, CA',
       'West Lafayette, IN', 'Lexington, MA', 'Salem, OR',
       'Northville, MI', 'Mason, OH', 'Titusville, NJ', 'Bloomington, IN',
       'Indiana', 'Absarokee, MT', 'Williamstown, MA', 'Raritan, NJ',
       'Aguadilla, PR', 'Tulsa, OK', 'Lincoln, RI', 'Framingham, MA',
       'Santa Barbara, CA', 'Stanford, CA', 'Salisbury, NC',
       'Lawrenceville, NJ', 'Moline, IL', 'Basking Ridge, NJ',
       'Overland Park, KS', 'Englewood Cliffs, NJ', 'Anaconda, MT',
       'Greenville, NC', 'Southbury, CT', 'Bridgeton, MO',
       'Clearwater, FL', 'Westlake Village, Los Angeles, CA',
       'Greencastle, IN', 'Syracuse, NY', 'Scarsdale, NY', 'Bellaire, TX',
       'East Petersburg, PA', 'Morristown, NJ', 'Leawood, KS',
       'Rochester, NY', 'Cheyenne, WY', 'Oak Lawn, IL', 'Des Plaines, IL',
       'Kearneysville, WV', 'West University Place, TX',
       'Cherry Hill, NJ', 'Duluth, GA', 'Lebanon, NJ', 'Dobbs Ferry, NY',
       'Hampton, VA', 'Greenwich, CT', 'Duquesne, PA', 'Wayne, NJ',
       'Paterson, NJ', 'Owings Mills, MD', 'Fort Mill, SC', 'Ashburn, VA',
       'Smithtown, NY', 'Stafford, TX', 'Honolulu, HI',
       'New Brunswick, NJ', 'Denton, TX', 'New Rochelle, NY',
       'Buffalo Grove, IL', 'Visalia, CA', 'Richfield, MN',
       'Blue Bell, PA'], dtype=object)

In [41]:
dataset['Location'].value_counts()

Remote                                226
New York, NY                          208
Atlanta Central City Post Offi, GA    178
Chicago, IL                           129
Seattle, WA                           104
Chesterfield, MO                      102
Austin, TX                             97
United States                          87
Arlington, VA                          74
San Francisco, CA                      70
San Jose, CA                           69
Cincinnati, OH                         66
Plano, TX                              62
Irving, TX                             58
Saint Louis, MO                        55
Virginia                               52
Washington, DC                         50
Las Vegas, NV                          49
Menlo Park, CA                         47
Cambridge, MA                          45
Mountain View, CA                      45
Bellevue, WA                           44
Salt Lake City, UT                     40
Memphis, TN                            40
Boston, MA                             39
Sacramento, CA                         39
Fremont, CA                            37
Irvine, CA                             35
East Boston, MA                        33
Redwood City, CA                       30
Wilmington, DE                         30
Beaverton, OR                          28
Redmond, WA                            28
Dallas, TX                             26
Los Angeles, CA                        24
Pasadena, CA                           24
Richland, WA                           23
McLean, VA                             23
Reston, VA                             23
Fort Worth, TX                         22
Pittsburgh, PA                         22
Boulder, CO                            22
Texas                                  21
Nashville, TN                          21
Chantilly, VA                          20
Springfield, VA                        20
Roanoke, VA                            20
Raleigh, NC                            19
Denver, CO                             18
Beverly, MA                            17
San Diego, CA                          17
Massachusetts                          16
Charlotte Amalie, VI                   16
Tampa, FL                              16
Fort Gordon, GA                        15
Lake Forest, IL                        15
Framingham, MA                         15
Brewster, NY                           14
Rochester, MN                          14
Colorado                               14
Columbus, OH                           13
Charlottesville, VA                    13
Houston, TX                            13
Aguadilla, PR                          13
Northbrook, IL                         13
Carlsbad, CA                           12
Middletown, NJ                         12
Fort Belvoir, VA                       12
Durham, NC                             11
Sofia, NM                              11
Chesapeake, VA                         11
Bloomington, IN                        10
Raritan, NJ                            10
Piscataway, NJ                         10
Miami, FL                              10
Madison, WI                             9
Philadelphia, PA                        9
South Bend, IN                          9
Atlanta, GA                             9
Englewood Cliffs, NJ                    9
Cleveland, OH                           9
Greenville, NC                          9
Richmond, VA                            9
West Sacramento, CA                     9
Chevy Chase, MD                         9
Charlotte, NC                           9
Phoenix, AZ                             9
Thousand Oaks, CA                       9
East Nashville, TN                      9
Skokie, IL                              8
Alexandria, VA                          8
Santa Clara, CA                         8
Norfolk, VA                             8
Decatur, GA                             8
Omaha, NE                               8
Absarokee, MT                           8
Waltham, MA                             8
Laurel, MD                              7
Lawrenceville, NJ                       7
El Paso, TX                             7
West Lafayette, IN                      7
Sunnyvale, CA                           7
New Jersey                              7
California                              7
Hillsboro, OR                           7
Baltimore, MD                           7
Medford, OR                             6
Portland, OR                            6
Fairfax, VA                             6
Bethesda, MD                            6
Cheshire, CT                            6
Austin, MN                              6
Quincy, MA                              6
Richardson, TX                          6
Fort Meade, MD                          6
North Carolina                          6
Indianapolis, IN                        6
Minneapolis, MN                         6
Blue Bell, PA                           6
The Woodlands, TX                       6
Dulles, VA                              6
Lexington-Fayette, KY                   6
Stamford, CT                            6
Herndon, VA                             6
Tennessee                               5
Rosslyn, VA                             5
Salisbury, NC                           5
Hoffman Estates, IL                     5
Milwaukee, WI                           5
Brooklyn Park, MN                       5
Lexington, MA                           5
Schaumburg, IL                          5
Tucson, AZ                              5
Boise, ID                               5
Eglin AFB, FL                           5
Lake Mary, FL                           5
King of Prussia, PA                     5
Tulsa, OK                               5
Santa Monica, CA                        5
Allentown, PA                           5
Worcester, MA                           5
Orlando, FL                             5
Titusville, NJ                          4
Columbus, GA                            4
Bentonville, AR                         4
Greenbelt, MD                           4
Grand Rapids, MI                        4
Newark, NJ                              4
Berwyn, PA                              4
Lisle, IL                               4
Dover, NH                               4
Des Moines, IA                          4
Rockville, MD                           4
Kansas City, MO                         4
Ewing, NJ                               4
Palo Alto, CA                           4
Illinois                                4
Albuquerque, NM                         4
East Portland, OR                       4
Detroit, MI                             4
Canal Winchester, OH                    4
Spokane, WA                             4
Warrenville, IL                         4
Lincoln, NE                             4
Indiana                                 4
Pleasanton, CA                          4
Alpharetta, GA                          4
Huntsville, AL                          4
Oklahoma City, OK                       4
Virginia Beach, VA                      4
Annapolis Junction, MD                  4
Saint Petersburg, FL                    4
Grapevine, TX                           4
La Crosse, WI                           4
Greenwood Village, Arapahoe, CO         3
Bridgeton, MO                           3
Reno, NV                                3
Sterling, VA                            3
Goleta, CA                              3
Mishawaka, IN                           3
La Grange, IL                           3
Natick, MA                              3
Bronx, NY                               3
Stanford, CA                            3
Santa Barbara, CA                       3
Tempe, AZ                               3
Roseville, MN                           3
Lincoln, RI                             3
Gainesville, GA                         3
Colorado Springs, CO                    3
Williamstown, MA                        3
Livermore, CA                           3
Florham Park, NJ                        3
Newport News, VA                        3
Osceola, WI                             3
Charleston, SC                          3
Middletown, RI                          3
Holmdel, NJ                             3
Leesburg, VA                            3
Fort Bragg, NC                          3
Scottsdale, AZ                          3
Golden, CO                              3
San Antonio, TX                         3
Mesa, AZ                                3
Lanham, MD                              3
Utah                                    3
San Marcos, TX                          3
Riverdale, MD                           3
Pleasant Prairie, WI                    3
Portland, ME                            3
Silver Spring, MD                       3
Marlborough, MA                         3
Maryland                                3
Smithfield, VA                          3
Hartford, CT                            3
Brooklyn, NY                            3
Marietta, GA                            3
Kaukauna, WI                            3
Beavercreek, OH                         3
Little Rock, AR                         3
Fort Lauderdale, FL                     3
Allegan, MI                             3
Dayton, OH                              2
West University Place, TX               2
South Jordan, UT                        2
Alabaster, AL                           2
Beacon, NY                              2
Seaside, CA                             2
Buffalo, NY                             2
Radnor, PA                              2
Santa Cruz, CA                          2
Hagerstown, MD                          2
Westborough, MA                         2
Vancouver, WA                           2
Naperville, IL                          2
Ice, KY                                 2
Columbia, MO                            2
New Brunswick, NJ                       2
Farmington, CT                          2
Dearborn, MI                            2
West New York, NJ                       2
Englewood, CO                           2
Louisville, KY                          2
New York State                          2
Mason, MI                               2
Phillipsburg, NJ                        2
Kirkwood, MO                            2
Federal Way, WA                         2
La Mirada, CA                           2
Hull, MA                                2
Dublin, OH                              2
Johns Creek, GA                         2
Addison, TX                             2
Jacksonville, FL                        2
Plainfield, NJ                          2
Aiea, HI                                2
Auburn, WA                              2
Oceanside, CA                           2
Duluth, GA                              2
Oro Valley, AZ                          2
Arlington Heights, IL                   2
Arizona                                 2
Boca Raton, FL                          2
Costa Mesa, CA                          2
Dana Point, CA                          2
Columbia City, IN                       2
Duquesne, PA                            2
Lehi, UT                                2
Bakersfield, CA                         2
Roy, UT                                 2
Westlake, TX                            2
Newark, CA                              2
Burlingame, CA                          2
Cerritos, CA                            2
Depew, NY                               2
Owings Mills, MD                        2
Aliso Viejo, CA                         2
Wadsworth, OH                           2
Williston, VT                           2
Cary, NC                                2
Juno Beach, FL                          2
Overland Park, KS                       2
Dedham, MA                              2
Manor, TX                               2
Collegeville, PA                        2
Stafford, VA                            2
Lexington Park, MD                      2
Mason, OH                               2
Northville, MI                          2
Salem, OR                               2
Kennesaw, GA                            2
Point a la Hache, LA                    1
Visalia, CA                             1
Southbury, CT                           1
Richfield, MN                           1
Scarsdale, NY                           1
Fort Mill, SC                           1
Ashburn, VA                             1
Clearwater, FL                          1
Hanover, MD                             1
Webster Groves, St. Louis, MO           1
Lebanon, NJ                             1
Westlake Village, Los Angeles, CA       1
Syracuse, NY                            1
Paterson, NJ                            1
Dobbs Ferry, NY                         1
Wayne, NJ                               1
Greencastle, IN                         1
Anaconda, MT                            1
Des Plaines, IL                         1
Buffalo Grove, IL                       1
Kearneysville, WV                       1
Oak Lawn, IL                            1
Stafford, TX                            1
Augusta, ME                             1
Cheyenne, WY                            1
Rochester, NY                           1
Northridge, CA                          1
Leawood, KS                             1
Morristown, NJ                          1
Los Gatos, CA                           1
Denton, TX                              1
East Petersburg, PA                     1
Smithtown, NY                           1
New Rochelle, NY                        1
Hampton, VA                             1
Bellaire, TX                            1
Cherry Hill, NJ                         1
Moline, IL                              1
Greenwich, CT                           1
Doylestown, PA                          1
Honolulu, HI                            1
Yonkers, NY                             1
Basking Ridge, NJ                       1
Carrollton, TX                          1
Hoboken, NJ                             1
Glen Cove, NY                           1
Cedar Rapids, IA                        1
Hershey, PA                             1
Woodinville, WA                         1
Janesville, WI                          1
Perrysburg, OH                          1
Dahlgren, VA                            1
Needham, MA                             1
Glendale, CA                            1
Albany, OR                              1
Richfield, OH                           1
Chapel Hill, NC                         1
Long Beach, CA                          1
Hempstead, NY                           1
Robbinsdale, MN                         1
Toledo, OH                              1
Centennial, CO                          1
Lakewood, CO                            1
Crystal Lake, IL                        1
Topeka, KS                              1
Brentwood, TN                           1
Glencoe, IL                             1
Wichita, KS                             1
Sugar Land, TX                          1
Chino, CA                               1
Paramus, NJ                             1
Chesterbrook, PA                        1
New Haven, CT                           1
Coppell, TX                             1
Rome, NY                                1
Logan, UT                               1
West Chester, PA                        1
Camden, NJ                              1
Saint Paul, MN                          1
East Haven, CT                          1
Cedar Falls, IA                         1
Traverse City, MI                       1
Greenwood, IN                           1
University Park, TX                     1
Tysons Corner, VA                       1
Miami Lakes, FL                         1
Bloomington, CA                         1
Fort Myers, FL                          1
Rosemont, IL                            1
Prairie Village, Johnson, KS            1
Kalamazoo, MI                           1
Blacksburg, VA                          1
Garland, TX                             1
Washington, IN                          1
Trumbull, CT                            1
Falmouth, ME                            1
Albany, NY                              1
Allen, TX                               1
Prescott Valley, AZ                     1
Arlington, TX                           1
Burnet, TX                              1
Katy, TX                                1
Eugene, OR                              1
Somerset, NJ                            1
Riverwoods, IL                          1
Westfield, VA                           1
Paris, TX                               1
Great Neck, NY                          1
Plymouth Meeting, PA                    1
Torrance, CA                            1
Highland, MD                            1
Malvern, PA                             1
Newport Beach, CA                       1
Ann Arbor, MI                           1
Fort Wayne, IN                          1
Loveland, CO                            1
Louisville, CO                          1
Frisco, TX                              1
Woburn, MA                              1
Rogers, AR                              1
Merrifield, VA                          1
Whippany, NJ                            1
Foxboro, MA                             1
North Chicago, IL                       1
Auburn Hills, MI                        1
Webster, TX                             1
Pennsylvania                            1
Niles, IL                               1
Morrisville, NC                         1
South San Francisco, CA                 1
La Jolla, CA                            1
Essex, VT                               1
Name: Location, dtype: int64

In [43]:
def findStates(dataset_feature):
    parsed_loaction_array = dataset_feature.apply(lambda x: x.split(',')[-1].strip() if(',' in x) else x )

    for i in parsed_loaction_array.index:
        try:
            parsed_loaction_array[i] = us.states.lookup(parsed_loaction_array[i]).abbr

        except:
            if parsed_loaction_array[i].lower() == 'remote':
                parsed_loaction_array[i] = "Remote"
            else:
                parsed_loaction_array[i] = str(np.nan)
    
    return parsed_loaction_array

In [44]:
states_column = findStates(dataset['Location'])
dataset = dataset.assign(states = states_column)

In [45]:
dataset['states'].isnull().any()

False

In [46]:
dataset.head(30)

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary,average_salary,states
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000,60000.0,Remote
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000,118000.0,WA
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000,141000.0,Remote
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680,199680.0,Remote
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000,90000.0,LA
30,$10+ billion (USD),Toyota,Manufacturing,$53 - $82 Per Hour(Employer est.),"Plano, TX",Company - Public,Transportation Equipment Manufacturing,Junior Data Scientist,1957,3.9,Who We Are\nCollaborative. Respectful. A place...,10000+ Employees,Manufacturing,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TX
31,$10+ billion (USD),TransUnion,Manufacturing,$53 - $82 Per Hour(Employer est.),"East Portland, OR",Company - Public,Transportation Equipment Manufacturing,Data Engineer,1957,3.9,Who We Are\nCollaborative. Respectful. A place...,10000+ Employees,Manufacturing,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,OR
32,$1 to $2 billion (USD),Identical Soft,Finance,$53 - $82 Per Hour(Employer est.),"Redmond, WA",Company - Public,Financial Analytics & Research,Data Scientist,1968,4.0,"What We'll Bring:\nAt TransUnion, we have a we...",5001 to 10000 Employees,Finance,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA
34,Unknown / Non-Applicable,Microsoft,Information Technology,$53 - $82 Per Hour(Employer est.),"Bellevue, WA",Company - Private,Enterprise Software & Network Solutions,Data & Applied Scientist,2013,4.5,This role works within the organization and wi...,51 to 200 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA
35,$10+ billion (USD),Allstate,Information Technology,$53 - $82 Per Hour(Employer est.),"Northbrook, IL",Company - Public,Computer Hardware & Software,Avail - Staff Data Scientist (Remote Home Base...,1975,4.4,At the Web Data team we're looking for a passi...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,IL
36,$10+ billion (USD),Interview Query,Insurance,$53 - $82 Per Hour(Employer est.),Remote,Company - Public,Insurance Agencies & Brokerages,Data Science Content Developer,1931,3.5,Avail is a car sharing service to help people ...,10000+ Employees,Insurance,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,Remote
38,$10+ billion (USD),Ovintiv,Information Technology,$53 - $82 Per Hour(Employer est.),"The Woodlands, TX",Company - Public,Internet,Data Analytics Engineer,1998,4.5,Minimum qualifications:\nBachelor's degree in ...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TX
39,Unknown / Non-Applicable,Microsoft,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),United States,Company - Public,Oil & Gas Exploration & Production,Content Developer 1,2002,3.3,"As an employer, we foster an exciting culture ...",1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560,140400.0,nan
40,$10+ billion (USD),Pivosys Inc.,Information Technology,$53 - $82 Per Hour(Employer est.),"Sacramento, CA",Company - Public,Computer Hardware & Software,Python Developer -With Data Science Experience,1975,4.4,"Content Developer, Microsoft Machine Learning ...",10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA
42,$500 million to $1 billion (USD),Envision,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),"West Sacramento, CA",Government,Energy,Data Scientist with statistics focus – entry l...,1965,4.1,Organization and Job ID\nJob ID: 312324\nDirec...,1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA
44,$10+ billion (USD),Netflix,Information Technology,$53 - $82 Per Hour(Employer est.),"Los Angeles, CA",Company - Public,Internet,"Manager, Studio Production Data Science and En...",1994,3.8,2+ years of non-internship professional softwa...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA
45,$5 to $10 billion (USD),Specific Diagnostics,Information Technology,$53 - $82 Per Hour(Employer est.),"Mountain View, CA",Company - Public,Internet,Data Scientist/Data Analysis,1997,4.2,"Los Angeles, California\nData Science and Engi...",5001 to 10000 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA
47,Unknown / Non-Applicable,Microsoft,Government,$53 - $82 Per Hour(Employer est.),"Redmond, WA",Government,State & Regional Agencies,Data Scientist II,1796,3.6,Executive Service\nData Analystics Statistical...,10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA
48,$10+ billion (USD),Arizona State University,Information Technology,$53 - $82 Per Hour(Employer est.),"Tempe, AZ",Company - Public,Computer Hardware & Software,Director of Data Science,1975,4.4,"While many businesses collect data, few can co...",10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,AZ
49,$1 to $2 billion (USD),Amgenium LLC,Education,$53 - $82 Per Hour(Employer est.),"Carlsbad, CA",College / University,Colleges & Universities,Data Engineer,1885,4.3,The Decision Center for Educational Excellence...,5001 to 10000 Employees,Education,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA
51,$10+ billion (USD),Spotify,Biotech & Pharmaceuticals,$53 - $82 Per Hour(Employer est.),"New York, NY",Company - Public,Biotech & Pharmaceuticals,"Machine Learning Research Scientist, Algorithm...",1891,4.2,Job Description\nThe Future Talent Program fea...,10000+ Employees,Biotech & Pharmaceuticals,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,NY
52,Unknown / Non-Applicable,Applied Information Sciences,Information Technology,$53 - $82 Per Hour(Employer est.),"Reston, VA",Company - Public,Internet,Data Engineer,2006,4.2,"Data, Research & Insights\nTrust & Safety\nSpo...",5001 to 10000 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,VA
53,$50 to $100 million (USD),State of Tennessee,Information Technology,$53 - $82 Per Hour(Employer est.),"East Nashville, TN",Company - Private,IT Services,CHIEF DATA AND ANALYTICS OFFICER-20237,1982,4.4,"Intro:\nAs a Data Engineer, you will use cutti...",201 to 500 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TN
54,Unknown / Non-Applicable,US Internal Revenue Service,Government,$53 - $82 Per Hour(Employer est.),"Charlotte Amalie, VI",Government,State & Regional Agencies,Statistician (Data Scientist),1796,3.6,Executive Service\nCheif Data and Analytics Of...,10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,VI
55,Unknown / Non-Applicable,Pacific Northwest National Laboratory,Government,$53 - $82 Per Hour(Employer est.),"Richland, WA",Government,Federal Agencies,Mathematician,1862,3.7,"Duties\nSummary\nWHAT IS THE RESEARCH, APPLIED...",10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA
56,$500 million to $1 billion (USD),AT&T,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),"East Portland, OR",Government,Energy,Data Scientist,1965,4.1,Organization and Job ID\nJob ID: 312382\nDirec...,1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560,140400.0,OR
57,$10+ billion (USD),Toyota Connected North America,Telecommunications,$53 - $82 Per Hour(Employer est.),"Plano, TX",Company - Public,Telecommunications Services,Data Scientist,1983,3.6,Our Story\n\nXandr is a technology platform po...,10000+ Employees,Telecommunications,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TX
58,Unknown / Non-Applicable,Indeed,Information Technology,$53 - $82 Per Hour(Employer est.),"Seattle, WA",Company - Private,IT Services,Staff Data Scientist - AI Ethics,2016,3.4,Toyota Connected's Mobility team is responsibl...,51 to 200 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA
59,$2 to $5 billion (USD),Medtronic,Information Technology,$53 - $82 Per Hour(Employer est.),"Northridge, CA",Company - Private,Internet,Senior Data Science and Signals Engineer,2004,4.3,Your Job\nThe AI Ethics team at Indeed builds ...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA
60,$10+ billion (USD),Microsoft,Biotech & Pharmaceuticals,$48 - $58 Per Hour(Employer est.),United States,Company - Public,Biotech & Pharmaceuticals,Content Developer 1,1949,4.1,Careers that Change Lives\nThe Diabetes Operat...,10000+ Employees,Biotech & Pharmaceuticals,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,nan

## Parsing Type of Ownership to have valid Type of ownership names, replace them with 'Unknown / Non-Applicable'

In [47]:
dataset['Type of Ownership'].unique()

array(['IT Services', 'Subsidiary or Business Segment', 'Government',
       'School / School District', 'Company - Public',
       'Company - Private', 'College / University',
       'Computer Hardware & Software', nan,
       'Health Care Services & Hospitals', 'Nonprofit Organization',
       'Colleges & Universities', 'Unknown / Non-Applicable', 'Hospital',
       'Wholesale', 'Auto Repair & Maintenance', 'Insurance Carriers',
       'Biotech & Pharmaceuticals', 'Accounting',
       'Education Training Services', 'Consulting', 'Real Estate',
       'Private Practice / Firm', 'Unknown',
       'Telecommunications Services', '$1 to $5 million (USD)',
       'Transportation Equipment Manufacturing',
       'Electrical & Electronic Manufacturing',
       'Enterprise Software & Network Solutions',
       'Miscellaneous Manufacturing', 'K-12 Education', 'Franchise',
       'Legal', 'State & Regional Agencies', 'Religious Organizations',
       'Chemical Manufacturing', 'Advertising & Marketing',
       '$100 to $500 million (USD)'], dtype=object)

In [48]:
type_of_ownership = dataset['Type of Ownership'].apply(lambda x: str(x).split('$')[0]).replace('', np.nan).replace('nan', np.nan)
dataset = dataset.assign(parsed_type_of_ownership = type_of_ownership)

print("Original Value: ", dataset['Type of Ownership'][4547])
print("After Parsing: ", dataset['parsed_type_of_ownership'][4547])

Original Value:  $100 to $500 million (USD)
After Parsing:  nan

In [49]:
dataset.parsed_type_of_ownership.isnull().any()

True

In [50]:
dataset.parsed_type_of_ownership.unique()

array(['IT Services', 'Subsidiary or Business Segment', 'Government',
       'School / School District', 'Company - Public',
       'Company - Private', 'College / University',
       'Computer Hardware & Software', nan,
       'Health Care Services & Hospitals', 'Nonprofit Organization',
       'Colleges & Universities', 'Unknown / Non-Applicable', 'Hospital',
       'Wholesale', 'Auto Repair & Maintenance', 'Insurance Carriers',
       'Biotech & Pharmaceuticals', 'Accounting',
       'Education Training Services', 'Consulting', 'Real Estate',
       'Private Practice / Firm', 'Unknown',
       'Telecommunications Services',
       'Transportation Equipment Manufacturing',
       'Electrical & Electronic Manufacturing',
       'Enterprise Software & Network Solutions',
       'Miscellaneous Manufacturing', 'K-12 Education', 'Franchise',
       'Legal', 'State & Regional Agencies', 'Religious Organizations',
       'Chemical Manufacturing', 'Advertising & Marketing'], dtype=object)

## Parsing job title to have clear knowledge about job title. replace jr, sr, etc with junior and senior

In [51]:
dataset['Job Title'].value_counts()

Data Scientist                                                                                399
Data Analyst                                                                                  220
Data Engineer                                                                                 148
Precision Genomics Data Science Co-Op                                                          57
Junior Data Scientist                                                                          56
Data Science Co-Op                                                                             55
Entry-Level Data Positions (Data Engineer, Machine Learning & Visualization)                   52
Federal - Data Visualization Specialist                                                        51
Specialist                                                                                     50
Data Science Specialist                                                                        47
Data Visualization Assistant – PT Temp                                                         45
Entry Level Data Engineer - September Start Date                                               44
Data Scientist, Analytics (University Grad)                                                    43
Data Science Analyst                                                                           41
Data Analyst - Ads Revenue Accounting                                                          38
Data Scientist - Life Sciences                                                                 36
Data Engineer (Remote 667-1)                                                                   36
Data Scientist 1                                                                               36
Behavioral Data Science Consultant                                                             36
Data Science Engineer                                                                          35
Data Governance Tool/Analyst                                                                   34
Data & Applied Scientist                                                                       33
Data Scientist (Machine Learning)                                                              33
Python Developer -With Data Science Experience                                                 30
Data Engineer 1                                                                                27
Data Scientist 3                                                                               26
Big Data Dev                                                                                   25
SAS Data Scientist                                                                             22
Content Developer 1                                                                            22
Data Scientist for GRMDS.org                                                                   22
Delivery Data Science IC3                                                                      22
Data Scientist Associate - Level 1                                                             21
Director, Communications Algorithms Data Science                                               20
Machine Learning Research Scientist, Algorithmic Impact & Responsibility                       20
Research Scientist, Optimization Research (Core Data Science - PhD)                            19
Senior Data Scientist                                                                          18
Data Visualization Engineer                                                                    18
SDE- Measurement & Data Science- 2021                                                          18
Data Visualization Analyst                                                                     18
Data Science                                                                                   18
Senior Data Analyst                                                                            16
Senior Data Engineer                                                                           16
Junior Data Engineer - QuantumBlack                                                            16
Data Science (100% Remote)                                                                     16
Data Scientist, Creation Platform                                                              16
Data Analyst – Data Science and Advanced Analytics - Data Center of Excellence                 15
Mathematical Statistician (Data Scientist) or Statistician (Data Scientist)                    15
Fall 2021 Co-op - Data and Automation Analyst                                                  14
Data Science Content Developer                                                                 14
Data Governance Analyst                                                                        13
ENTRY LEVEL STATISTICAL ANALYST                                                                13
Data Engineer, Product Analytics                                                               13
Associate Data Science Analyst - DOM AI and Innovation                                         13
Data Scientist PhD                                                                             13
Python & Data Science Mentor                                                                   13
Avail - Staff Data Scientist (Remote Home Based Worker)                                        13
Data Analyst (US REMOTE)                                                                       13
Associate, Data Science                                                                        12
Product Data Analyst                                                                           12
Statistical Programmer 1                                                                       12
Core Compete Data Engineer                                                                     12
Data Scientist Masters                                                                         11
Associate Mathematician                                                                        10
Part-Time Marketing Data Analyst                                                               10
Decision Scientist Co-Op                                                                       10
Sr. Data Scientist                                                                             10
Junior Data Analyst                                                                            10
Data Scientist (IBM WATSON)                                                                     9
QC Scientist 1 - Data Auditor                                                                   9
Data Modeler - Sports Engine Copy                                                               9
Machine Learning Engineer                                                                       9
110: Head of Data Science                                                                       8
Data Scientist with statistics focus – entry level                                              8
Data Engineer/Data Science Engineer                                                             8
Financial Data Analyst                                                                          7
IT Data Analyst                                                                                 7
Crop Data Scientist                                                                             7
Supply Chain Data Analyst                                                                       7
Data Scientist, Digital Loss Prevention                                                         7
SW Engineering Technologist - ML/AI                                                             7
Data Science - Entry Level                                                                      7
Data Scientist - Intermediate                                                                   7
Director, Strategic Analytics-Sg2                                                               7
Big Data Engineer                                                                               7
Software Engineer                                                                               7
Senior Software Engineer                                                                        6
Data Scientist – Attribute Science Data Engineering                                             6
Data Scientist II                                                                               6
DART Data Science Analyst                                                                       6
Technical Director                                                                              6
Lead Data Scientist                                                                             6
Data Science Consultant                                                                         6
Behavioral Data Science Manager                                                                 6
Junior Natural Language Processing Data Scientist                                               6
Data Engineer- TS Cleared                                                                       6
Junior Data Scientist / Entry Level Data Scientist                                              6
Senior Business Intelligence Consultant (California)                                            5
DATA SCIENTIST - ENGINEERING                                                                    5
Senior Business Intelligence Consultant (Remote)                                                5
Data Science Developer                                                                          5
Omics Data Scientist - Lexington, MA                                                            5
Data Engineer Architect ( TALEND)                                                               5
Data Engineer - ADLA, ADF ,SQL                                                                  5
Data Scientist – Facility Analytics                                                             5
Experienced Data Engineer                                                                       5
Financial Data Analyst (Bilingual Chinese)                                                      5
Sales & Marketing Data Analyst                                                                  5
SENIOR DATA SCIENTIST                                                                           5
Azure Cloud Enablement - Analytics & Cognitive, Manager                                         5
GCP Cloud Enablement - Analytics & Cognitive, Senior Consultant                                 5
Production Data Analyst                                                                         5
Data Science Manager                                                                            5
Senior Forecast & Data Analyst, Finance                                                         5
Scientific Programming and Machine Learning Engineer                                            5
Laboratory Data Scientist 1, In Vitro                                                           5
Research Data Coordinator Behavioral Science                                                    5
Senior Software Engineer (Research and Advanced Development)                                    5
Application Reliability Analyst                                                                 4
Senior Software Engineer – Spark                                                                4
Operations Data Scientist                                                                       4
SCIENTIFIC DIRECTOR                                                                             4
Physics/Chemistry Teacher                                                                       4
AWS Cloud Enablement - Analytics & Cognitive, Senior Consultant                                 4
Data Scientist - Data Analytics                                                                 4
Senior PMIS Application Specialist                                                              4
Senior Software Engineer - CRM                                                                  4
Senior Design Engineer Source & Mask Optimization                                               4
Senior Software Engineer, Front-End                                                             4
Utilities Asset Management Analyst                                                              4
Software Engineer, Platform Security                                                            4
Data Scientist-Python- St. Louis-Intermediate                                                   4
Experienced Automation Manufacturing Engineer - Swing Shift                                     4
Al Software Engineer                                                                            4
Master Data Analyst                                                                             4
Development Data Scientist III                                                                  4
People Analytics - Data Analyst                                                                 4
Senior Consultant (m/f/d) Americas                                                              4
Healthcare Data Analyst, Member Services                                                        4
Senior Data Consultant                                                                          4
Senior Application Engineer - Fully Remote (TX)                                                 4
Data Scientist - Remote                                                                         4
Director of Business Development and Capture                                                    4
Data Scientist I                                                                                4
Federal - Data Science Practitioner                                                             4
Data Science Opportunities/ Entry Level for Recent Graduates STEM                               4
Senior Application Engineer (Los Angeles, CA)                                                   4
Cyber Systems Engineer SME                                                                      4
Cyber Software (Apprentice) Engineer                                                            4
AI/ML - Machine Learning Engineer, Accessibility                                                4
Data Scientist- Python-ML- St. Louis                                                            4
Cyber Intelligence Analyst III                                                                  4
VP, Sales Strategy & Operations                                                                 4
Cyber Software Engineer II                                                                      4
Sr. Data Scientist - Sales & Customer Analytics                                                 4
Data Scientist-Python-Seattle                                                                   4
Future Position: Data Scientist                                                                 4
Data Architect/Engineer                                                                         4
MicroSearch Senior Technician                                                                   4
Design for Manufacturing Engineer                                                               4
Senior Qlik Developer - Security Clearance eligibility required                                 4
Data Scientist IV                                                                               4
Data Scientist, Product Analytics (Remote - U.S.)                                               4
Data Analyst - ADLA, ADF, SQL                                                                   4
Analytic Consultant - Federal                                                                   3
Catalog Data Analyst                                                                            3
Systems Integrator - Strategy                                                                   3
Adjunct Faculty in Data Science                                                                 3
Bigdata & PySpark Data Engineer                                                                 3
Principal Machine Learning Engineer                                                             3
Production Technician- CAD Dental Supply Chain                                                  3
Senior SQL Developer, BioMedical Informatics                                                    3
Derivative Data Product Specialist                                                              3
Data Science Librarian                                                                          3
Senior Data Scientist [WFH]                                                                     3
Business Intelligence (BI) Engineer                                                             3
ES198 Earth Science Data Specialist                                                             3
Enterprise Data Architect                                                                       3
Quantum Hardware Test Engineer, Quantum AI                                                      3
Staff Data Scientist - AI Ethics                                                                3
Data Science Tutors                                                                             3
Senior Scheduler                                                                                3
Postdoctoral Researchers- Autonomous Experiments and Materials Data                             3
Project Controls Manager                                                                        3
Senior Data Scientist - Ads Optimization                                                        3
Sr. Data Engineer                                                                               3
Data Curation Analyst - Senior                                                                  3
Assessment Engineer (Storage and Data Protection)                                               3
Geospatial Engineer                                                                             3
DATA ANALYTICS STATISTICAL RESEARCH SPECIALIST-20197                                            3
IT Data Analyst Local Candidates Only                                                           3
Systems Engineer IV                                                                             3
Machine Learning Engineer, Siri Understanding (Cambridge, MA)                                   3
Health Care Data Scientist                                                                      3
Project Manager                                                                                 3
Executive Medical Director, Medical Science Early                                               3
Applied Research Scientist (University Grad)                                                    3
Yardi Technical Analyst – Data Engineer                                                         3
Shipyard Maintenance Scheduler                                                                  3
Marketing Product Manager                                                                       3
Bilingual Care Coordinator                                                                      3
User Experience Researcher                                                                      3
Senior Data Analyst - Finance Data Analytics                                                    3
R&D Networking & Emulation Researcher/Practitioner (Experienced)                                3
Sr Database Administrator - SAS Programmer                                                      3

In [52]:
parsed_job_title_column = dataset['Job Title'].apply(lambda x: str(x).lower().replace('jr.', 'junior').replace('sr.', 'senior')).apply(lambda x: np.nan if(x == 'nan') else x)
dataset = dataset.assign(parsed_job_title = parsed_job_title_column)

In [53]:
dataset.parsed_job_title.isnull().any()

True

In [54]:
dataset.head()

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary,average_salary,states,parsed_type_of_ownership,parsed_job_title
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000,60000.0,Remote,IT Services,"data scientist, analytics-remote presence"
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000,118000.0,WA,Subsidiary or Business Segment,data scientist
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000,141000.0,Remote,Government,"part-time content creator, data"
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680,199680.0,Remote,School / School District,"data engineer, product analytics"
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000,90000.0,LA,Company - Public,junior data scientist

## Parsing the Founded to have valid years, replace invalid years with unknown.

In [55]:
from datetime import date

In [56]:
dataset['Founded'].unique()

array(['Company - Private', '1983', '1862', '2012', '1994', '1957',
       '1968', '2013', '1975', '1931', '1998', '2002', '1965', '1997',
       '1796', '1885', '1891', '2006', '1982', '2016', '2004', '1949',
       '1837', '2008', '1869', '1984', '1999', '1976', '1911', '2015',
       '1939', '1988', '1850', '1903', '1914', '1843', '2014', '2010',
       '1926', nan, '2009', '1981', '1946', '1928', '2001', '1996',
       'Nonprofit Organization', '1948', '1936', '1991', '1985',
       'College / University', '1944', '1922', '1915', '1919', '2003',
       '1912', '1938', '1980', '1971', '1960', '1993', '2005', '2007',
       '1969', '1992', '1929', '1942', 'Subsidiary or Business Segment',
       '1874', '1989', '1966', '1932', '1987', 'Company - Public', '1972',
       '1970', '1927', '1977', '1864', '1973', '1974', '1990', '1920',
       '1902', '1894', '1955', '2017', 'Private Practice / Firm', '1866',
       '1887', '2011', 'Hospital', '1979', '1963', '1947', '1848', '1806',
       '1986', '1913', '1873', '1995', '1962', '1907', '1851', '1959',
       '1857', '1935', '2018', '1951', '1858', '1934', '2000', '1812',
       '1924', '1863', '1923', '1830', '1868', '1882', '1978', '1921',
       '1916', '1876', '1937', '1892', '1940', '1889', '1896', '1967',
       '1682', 'Government', 'Unknown', '1793', '1941', '1821', '1958',
       '1964', '1953', '1908', '1792', '1820', '1867', '1952', '1901',
       '1925', '1871', '1888'], dtype=object)

In [57]:
dataset['Founded'].apply(lambda x: x if(str(x).isnumeric()) else (np.nan if(str(x) == 'nan') else np.nan ) ).unique()

array([nan, '1983', '1862', '2012', '1994', '1957', '1968', '2013',
       '1975', '1931', '1998', '2002', '1965', '1997', '1796', '1885',
       '1891', '2006', '1982', '2016', '2004', '1949', '1837', '2008',
       '1869', '1984', '1999', '1976', '1911', '2015', '1939', '1988',
       '1850', '1903', '1914', '1843', '2014', '2010', '1926', '2009',
       '1981', '1946', '1928', '2001', '1996', '1948', '1936', '1991',
       '1985', '1944', '1922', '1915', '1919', '2003', '1912', '1938',
       '1980', '1971', '1960', '1993', '2005', '2007', '1969', '1992',
       '1929', '1942', '1874', '1989', '1966', '1932', '1987', '1972',
       '1970', '1927', '1977', '1864', '1973', '1974', '1990', '1920',
       '1902', '1894', '1955', '2017', '1866', '1887', '2011', '1979',
       '1963', '1947', '1848', '1806', '1986', '1913', '1873', '1995',
       '1962', '1907', '1851', '1959', '1857', '1935', '2018', '1951',
       '1858', '1934', '2000', '1812', '1924', '1863', '1923', '1830',
       '1868', '1882', '1978', '1921', '1916', '1876', '1937', '1892',
       '1940', '1889', '1896', '1967', '1682', '1793', '1941', '1821',
       '1958', '1964', '1953', '1908', '1792', '1820', '1867', '1952',
       '1901', '1925', '1871', '1888'], dtype=object)

In [58]:
parsed_founded_cloumn = dataset['Founded'].apply(lambda x: x if(str(x).isnumeric()) else (np.nan if(str(x) == 'nan') else np.nan ) )

dataset = dataset.assign(parsed_founded = parsed_founded_cloumn)

In [59]:
dataset['parsed_founded'].isnull().any()

True

In [60]:
dataset.head()

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary,average_salary,states,parsed_type_of_ownership,parsed_job_title,parsed_founded
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000,60000.0,Remote,IT Services,"data scientist, analytics-remote presence",NaN
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000,118000.0,WA,Subsidiary or Business Segment,data scientist,1983
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000,141000.0,Remote,Government,"part-time content creator, data",1862
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680,199680.0,Remote,School / School District,"data engineer, product analytics",2012
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000,90000.0,LA,Company - Public,junior data scientist,1994

## Parsing Job Description to get useful keywords (repeated key words).

In [61]:
parsed_job_description_column = dataset['Job Description'].apply(lambda x: str(x).replace('\n', ''))
dataset = dataset.assign(parsed_job_description = parsed_job_description_column)

 keywords = ['aws', 'big data', 'business intelligence', 'bi', 'cloud computing', 'data analytics', 'data exploration', 'data management', 'data wrangling', 'data processing', 'data security', 'data governance', 
            'data manipulation', 'data modelling', 'data migration', 'data warehousing', 'data transformation', 'data visualization', 'devops', 'hadoop', 'machine learning', 'matlab', 'python', 'r', 'statistics',
            'sql', 'tableau', ]

In [62]:
dataset.parsed_job_description.isnull().any()

False

In [63]:
dataset.head()

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary,average_salary,states,parsed_type_of_ownership,parsed_job_title,parsed_founded,parsed_job_description
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000,60000.0,Remote,IT Services,"data scientist, analytics-remote presence",NaN,"Responsibilities:· Provides plan with data, re..."
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000,118000.0,WA,Subsidiary or Business Segment,data scientist,1983,What you'll do...Data Scientists in Walmart Gl...
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000,141000.0,Remote,Government,"part-time content creator, data",1862,"DutiesSummaryClick on """" button below to view ..."
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680,199680.0,Remote,School / School District,"data engineer, product analytics",2012,About the PositionWe’ve been creating exceptio...
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000,90000.0,LA,Company - Public,junior data scientist,1994,Data Scientists in Global Tech – Sam’s Technol...

## Description Length

In [64]:
dataset['description_length'] = dataset['parsed_job_description'].apply(lambda x: len(x))

In [65]:
dataset.description_length.isnull().any()

False

In [66]:
dataset.head(50)

,Revenue,Company Name,Sector,Salary Estimate,Location,Type of Ownership,Industry,Job Title,Founded,Rating,Job Description,Size,parsed_sector,parsed_salary,per_hour_salary_jobs,fixed_salary_jobs,minimum_salary,annual_minimum_salary,maximum_salary,annual_maximum_salary,average_salary,states,parsed_type_of_ownership,parsed_job_title,parsed_founded,parsed_job_description,description_length
9,NaN,Facebook,Unknown / Non-Applicable,Employer Provided Salary:$60K,Remote,IT Services,Information Technology,"Data Scientist, Analytics-Remote Presence",Company - Private,4.5,"Responsibilities:\n· Provides plan with data, ...",501 to 1000 Employees,Unknown / Non-Applicable,60,0,1,60,60000,60,60000,60000.0,Remote,IT Services,"data scientist, analytics-remote presence",NaN,"Responsibilities:· Provides plan with data, re...",501
11,$10+ billion (USD),Pacific Northwest National Laboratory,Retail,Employer Provided Salary:$91K - $145K,"Richland, WA",Subsidiary or Business Segment,General Merchandise & Superstores,Data Scientist,1983,3.3,What you'll do...\nData Scientists in Walmart ...,10000+ Employees,Retail,91 - 145,0,1,91,91000,145,145000,118000.0,WA,Subsidiary or Business Segment,data scientist,1983,What you'll do...Data Scientists in Walmart Gl...,914
16,Unknown / Non-Applicable,Juno College of Technology,Government,Employer Provided Salary:$109K - $173K,Remote,Government,Federal Agencies,"Part-Time Content Creator, Data",1862,3.7,"Duties\nSummary\nClick on """" button below to v...",10000+ Employees,Government,109 - 173,0,1,109,109000,173,173000,141000.0,Remote,Government,"part-time content creator, data",1862,"DutiesSummaryClick on """" button below to view ...",633
17,Unknown / Non-Applicable,Facebook,Education,Employer Provided Salary:$96 Per Hour,Remote,School / School District,Education Training Services,"Data Engineer, Product Analytics",2012,3.8,About the Position\nWe’ve been creating except...,1 to 50 Employees,Education,96 per hour,1,0,96,199680,96,199680,199680.0,Remote,School / School District,"data engineer, product analytics",2012,About the PositionWe’ve been creating exceptio...,1122
21,$10+ billion (USD),KesarWeb,Retail,Employer Provided Salary:$90K,"Point a la Hache, LA",Company - Public,General Merchandise & Superstores,Jr. Data Scientist,1994,3.3,Data Scientists in Global Tech – Sam’s Technol...,10000+ Employees,Retail,90,0,1,90,90000,90,90000,90000.0,LA,Company - Public,junior data scientist,1994,Data Scientists in Global Tech – Sam’s Technol...,977
30,$10+ billion (USD),Toyota,Manufacturing,$53 - $82 Per Hour(Employer est.),"Plano, TX",Company - Public,Transportation Equipment Manufacturing,Junior Data Scientist,1957,3.9,Who We Are\nCollaborative. Respectful. A place...,10000+ Employees,Manufacturing,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TX,Company - Public,junior data scientist,1957,Who We AreCollaborative. Respectful. A place t...,853
31,$10+ billion (USD),TransUnion,Manufacturing,$53 - $82 Per Hour(Employer est.),"East Portland, OR",Company - Public,Transportation Equipment Manufacturing,Data Engineer,1957,3.9,Who We Are\nCollaborative. Respectful. A place...,10000+ Employees,Manufacturing,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,OR,Company - Public,data engineer,1957,Who We AreCollaborative. Respectful. A place t...,853
32,$1 to $2 billion (USD),Identical Soft,Finance,$53 - $82 Per Hour(Employer est.),"Redmond, WA",Company - Public,Financial Analytics & Research,Data Scientist,1968,4.0,"What We'll Bring:\nAt TransUnion, we have a we...",5001 to 10000 Employees,Finance,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA,Company - Public,data scientist,1968,"What We'll Bring:At TransUnion, we have a welc...",828
34,Unknown / Non-Applicable,Microsoft,Information Technology,$53 - $82 Per Hour(Employer est.),"Bellevue, WA",Company - Private,Enterprise Software & Network Solutions,Data & Applied Scientist,2013,4.5,This role works within the organization and wi...,51 to 200 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA,Company - Private,data & applied scientist,2013,This role works within the organization and wi...,554
35,$10+ billion (USD),Allstate,Information Technology,$53 - $82 Per Hour(Employer est.),"Northbrook, IL",Company - Public,Computer Hardware & Software,Avail - Staff Data Scientist (Remote Home Base...,1975,4.4,At the Web Data team we're looking for a passi...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,IL,Company - Public,avail - staff data scientist (remote home base...,1975,At the Web Data team we're looking for a passi...,810
36,$10+ billion (USD),Interview Query,Insurance,$53 - $82 Per Hour(Employer est.),Remote,Company - Public,Insurance Agencies & Brokerages,Data Science Content Developer,1931,3.5,Avail is a car sharing service to help people ...,10000+ Employees,Insurance,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,Remote,Company - Public,data science content developer,1931,Avail is a car sharing service to help people ...,760
38,$10+ billion (USD),Ovintiv,Information Technology,$53 - $82 Per Hour(Employer est.),"The Woodlands, TX",Company - Public,Internet,Data Analytics Engineer,1998,4.5,Minimum qualifications:\nBachelor's degree in ...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TX,Company - Public,data analytics engineer,1998,Minimum qualifications:Bachelor's degree in El...,1007
39,Unknown / Non-Applicable,Microsoft,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),United States,Company - Public,Oil & Gas Exploration & Production,Content Developer 1,2002,3.3,"As an employer, we foster an exciting culture ...",1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560,140400.0,nan,Company - Public,content developer 1,2002,"As an employer, we foster an exciting culture ...",679
40,$10+ billion (USD),Pivosys Inc.,Information Technology,$53 - $82 Per Hour(Employer est.),"Sacramento, CA",Company - Public,Computer Hardware & Software,Python Developer -With Data Science Experience,1975,4.4,"Content Developer, Microsoft Machine Learning ...",10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA,Company - Public,python developer -with data science experience,1975,"Content Developer, Microsoft Machine Learning ...",840
42,$500 million to $1 billion (USD),Envision,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),"West Sacramento, CA",Government,Energy,Data Scientist with statistics focus – entry l...,1965,4.1,Organization and Job ID\nJob ID: 312324\nDirec...,1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA,Government,data scientist with statistics focus – entry l...,1965,Organization and Job IDJob ID: 312324Directora...,681
44,$10+ billion (USD),Netflix,Information Technology,$53 - $82 Per Hour(Employer est.),"Los Angeles, CA",Company - Public,Internet,"Manager, Studio Production Data Science and En...",1994,3.8,2+ years of non-internship professional softwa...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA,Company - Public,"manager, studio production data science and en...",1994,2+ years of non-internship professional softwa...,3130
45,$5 to $10 billion (USD),Specific Diagnostics,Information Technology,$53 - $82 Per Hour(Employer est.),"Mountain View, CA",Company - Public,Internet,Data Scientist/Data Analysis,1997,4.2,"Los Angeles, California\nData Science and Engi...",5001 to 10000 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA,Company - Public,data scientist/data analysis,1997,"Los Angeles, CaliforniaData Science and Engine...",991
47,Unknown / Non-Applicable,Microsoft,Government,$53 - $82 Per Hour(Employer est.),"Redmond, WA",Government,State & Regional Agencies,Data Scientist II,1796,3.6,Executive Service\nData Analystics Statistical...,10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA,Government,data scientist ii,1796,Executive ServiceData Analystics Statistical R...,264
48,$10+ billion (USD),Arizona State University,Information Technology,$53 - $82 Per Hour(Employer est.),"Tempe, AZ",Company - Public,Computer Hardware & Software,Director of Data Science,1975,4.4,"While many businesses collect data, few can co...",10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,AZ,Company - Public,director of data science,1975,"While many businesses collect data, few can co...",1131
49,$1 to $2 billion (USD),Amgenium LLC,Education,$53 - $82 Per Hour(Employer est.),"Carlsbad, CA",College / University,Colleges & Universities,Data Engineer,1885,4.3,The Decision Center for Educational Excellence...,5001 to 10000 Employees,Education,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA,College / University,data engineer,1885,The Decision Center for Educational Excellence...,1081
51,$10+ billion (USD),Spotify,Biotech & Pharmaceuticals,$53 - $82 Per Hour(Employer est.),"New York, NY",Company - Public,Biotech & Pharmaceuticals,"Machine Learning Research Scientist, Algorithm...",1891,4.2,Job Description\nThe Future Talent Program fea...,10000+ Employees,Biotech & Pharmaceuticals,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,NY,Company - Public,"machine learning research scientist, algorithm...",1891,Job DescriptionThe Future Talent Program featu...,938
52,Unknown / Non-Applicable,Applied Information Sciences,Information Technology,$53 - $82 Per Hour(Employer est.),"Reston, VA",Company - Public,Internet,Data Engineer,2006,4.2,"Data, Research & Insights\nTrust & Safety\nSpo...",5001 to 10000 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,VA,Company - Public,data engineer,2006,"Data, Research & InsightsTrust & SafetySpotify...",988
53,$50 to $100 million (USD),State of Tennessee,Information Technology,$53 - $82 Per Hour(Employer est.),"East Nashville, TN",Company - Private,IT Services,CHIEF DATA AND ANALYTICS OFFICER-20237,1982,4.4,"Intro:\nAs a Data Engineer, you will use cutti...",201 to 500 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TN,Company - Private,chief data and analytics officer-20237,1982,"Intro:As a Data Engineer, you will use cutting...",912
54,Unknown / Non-Applicable,US Internal Revenue Service,Government,$53 - $82 Per Hour(Employer est.),"Charlotte Amalie, VI",Government,State & Regional Agencies,Statistician (Data Scientist),1796,3.6,Executive Service\nCheif Data and Analytics Of...,10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,VI,Government,statistician (data scientist),1796,Executive ServiceCheif Data and Analytics Offi...,245
55,Unknown / Non-Applicable,Pacific Northwest National Laboratory,Government,$53 - $82 Per Hour(Employer est.),"Richland, WA",Government,Federal Agencies,Mathematician,1862,3.7,"Duties\nSummary\nWHAT IS THE RESEARCH, APPLIED...",10000+ Employees,Government,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA,Government,mathematician,1862,"DutiesSummaryWHAT IS THE RESEARCH, APPLIED ANA...",380
56,$500 million to $1 billion (USD),AT&T,"Oil, Gas, Energy & Utilities",$53 - $82 Per Hour(Employer est.),"East Portland, OR",Government,Energy,Data Scientist,1965,4.1,Organization and Job ID\nJob ID: 312382\nDirec...,1001 to 5000 Employees,"Oil, Gas, Energy & Utilities",53 - 82 per hour,1,0,53,110240,82,170560,140400.0,OR,Government,data scientist,1965,Organization and Job IDJob ID: 312382Directora...,909
57,$10+ billion (USD),Toyota Connected North America,Telecommunications,$53 - $82 Per Hour(Employer est.),"Plano, TX",Company - Public,Telecommunications Services,Data Scientist,1983,3.6,Our Story\n\nXandr is a technology platform po...,10000+ Employees,Telecommunications,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,TX,Company - Public,data scientist,1983,Our StoryXandr is a technology platform poweri...,2105
58,Unknown / Non-Applicable,Indeed,Information Technology,$53 - $82 Per Hour(Employer est.),"Seattle, WA",Company - Private,IT Services,Staff Data Scientist - AI Ethics,2016,3.4,Toyota Connected's Mobility team is responsibl...,51 to 200 Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,WA,Company - Private,staff data scientist - ai ethics,2016,Toyota Connected's Mobility team is responsibl...,1019
59,$2 to $5 billion (USD),Medtronic,Information Technology,$53 - $82 Per Hour(Employer est.),"Northridge, CA",Company - Private,Internet,Senior Data Science and Signals Engineer,2004,4.3,Your Job\nThe AI Ethics team at Indeed builds ...,10000+ Employees,Information Technology,53 - 82 per hour,1,0,53,110240,82,170560,140400.0,CA,Company - Private,senior data science and signals engineer,2004,Your JobThe AI Ethics team at Indeed builds sy...,1319
60,$10+ billion (USD),Microsoft,Biotech & Pharmaceuticals,$48 - $58 Per Hour(Employer est.),United States,Company - Public,Biotech & Pharmaceuticals,Content Developer 1,1949,4.1,Careers that Change Lives\nThe Diabetes Operat...,10000+ Employees,Biotech & Pharmaceuticals,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,nan,Company - Public,content developer 1,1949,Careers that Change LivesThe Diabetes Operatin...,1732
61,$10+ billion (USD),Tech True Up,Information Technology,$48 - $58 Per Hour(Employer est.),Remote,Company - Public,Computer Hardware & Software,Data Scientist,1975,4.4,"Content Developer, Microsoft Machine Learning ...",10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,Remote,Company - Public,data scientist,1975,"Content Developer, Microsoft Machine Learning ...",840
63,$10+ billion (USD),Amgenium LLC,Insurance,$48 - $58 Per Hour(Employer est.),"Carlsbad, CA",Company - Public,Insurance Agencies & Brokerages,Data Engineer,1931,3.5,Avail is a car sharing service to help people ...,10000+ Employees,Insurance,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,CA,Company - Public,data engineer,1931,Avail is a car sharing service to help people ...,760
68,Unknown / Non-Applicable,Google,Information Technology,$48 - $58 Per Hour(Employer est.),"Goleta, CA",Company - Private,Enterprise Software & Network Solutions,"Quantum Hardware Test Engineer, Quantum AI",2013,4.5,This role works within the organization and wi...,51 to 200 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,CA,Company - Private,"quantum hardware test engineer, quantum ai",2013,This role works within the organization and wi...,554
69,$10+ billion (USD),First Soft Solutions [ Direct],Information Technology,$48 - $58 Per Hour(Employer est.),"Plano, TX",Company - Public,Internet,Azure Data Engineer,1998,4.5,Minimum qualifications:\nBachelor's degree in ...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,TX,Company - Public,azure data engineer,1998,Minimum qualifications:Bachelor's degree in El...,1007
70,$10 to $25 million (USD),Microsoft,Accounting & Legal,$48 - $58 Per Hour(Employer est.),"Bellevue, WA",Company - Private,Accounting,Data & Applied Scientist,2006,3.2,Expert in Databricks\nAzure bigdata services.\...,51 to 200 Employees,Accounting & Legal,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,WA,Company - Private,data & applied scientist,2006,Expert in DatabricksAzure bigdata services.Exp...,448
71,$10+ billion (USD),Spotify,Information Technology,$48 - $58 Per Hour(Employer est.),"New York, NY",Company - Public,Computer Hardware & Software,"Machine Learning Research Scientist, Algorithm...",1975,4.4,At the Web Data team we're looking for a passi...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,NY,Company - Public,"machine learning research scientist, algorithm...",1975,At the Web Data team we're looking for a passi...,810
72,Unknown / Non-Applicable,Procter & Gamble,Information Technology,$48 - $58 Per Hour(Employer est.),"Cincinnati, OH",Company - Public,Internet,Data Scientist Masters,2006,4.2,"Data, Research & Insights\nTrust & Safety\nSpo...",5001 to 10000 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,OH,Company - Public,data scientist masters,2006,"Data, Research & InsightsTrust & SafetySpotify...",988
73,$10+ billion (USD),Indeed,Manufacturing,$48 - $58 Per Hour(Employer est.),"Seattle, WA",Company - Public,Consumer Products Manufacturing,Staff Data Scientist - AI Ethics,1837,4.2,Do you enjoy design research and analytic fram...,10000+ Employees,Manufacturing,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,WA,Company - Public,staff data scientist - ai ethics,1837,Do you enjoy design research and analytic fram...,1240
74,$2 to $5 billion (USD),"LockerDome, Inc.",Information Technology,$48 - $58 Per Hour(Employer est.),Remote,Company - Private,Internet,"Data Scientist, ML R&D",2004,4.3,Your Job\nThe AI Ethics team at Indeed builds ...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,Remote,Company - Private,"data scientist, ml r&d",2004,Your JobThe AI Ethics team at Indeed builds sy...,1319
75,Unknown / Non-Applicable,State of Tennessee,Information Technology,$48 - $58 Per Hour(Employer est.),"East Nashville, TN",Company - Private,Internet,DATA ANALYTICS STATISTICAL RESEARCH SPECIALIST...,2008,3.8,"LockerDome is an ad platform with a brain, des...",51 to 200 Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,TN,Company - Private,data analytics statistical research specialist...,2008,"LockerDome is an ad platform with a brain, des...",809
76,Unknown / Non-Applicable,Facebook,Government,$48 - $58 Per Hour(Employer est.),"New York, NY",Government,State & Regional Agencies,"Data Scientist, Analytics (PhD)",1796,3.6,Executive Service\nData Analystics Statistical...,10000+ Employees,Government,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,NY,Government,"data scientist, analytics (phd)",1796,Executive ServiceData Analystics Statistical R...,264
77,$10+ billion (USD),Goldman Sachs,Information Technology,$48 - $58 Per Hour(Employer est.),"New York, NY",Company - Public,Internet,Associate - ENGG5242699,2004,4.3,We're looking for Data Scientists to join some...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,NY,Company - Public,associate - engg5242699,2004,We're looking for Data Scientists to join some...,1134
78,$10+ billion (USD),veritis group inc,Finance,$48 - $58 Per Hour(Employer est.),"Irving, TX",Company - Public,Investment Banking & Asset Management,Data Scientist,1869,4.0,MORE ABOUT THIS JOB:\nAssociate with Goldman S...,10000+ Employees,Finance,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,TX,Company - Public,data scientist,1869,MORE ABOUT THIS JOB:Associate with Goldman Sac...,4496
80,$10+ billion (USD),Salesforce,Information Technology,$48 - $58 Per Hour(Employer est.),Massachusetts,Company - Private,Computer Hardware & Software,Fall 2021 Co-op - Data and Automation Analyst,1984,4.3,Please note this posting is to advertise poten...,10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,MA,Company - Private,fall 2021 co-op - data and automation analyst,1984,Please note this posting is to advertise poten...,4414
81,$10+ billion (USD),Spotify,Information Technology,$48 - $58 Per Hour(Employer est.),"New York, NY",Company - Public,Computer Hardware & Software,"Senior Data Scientist, Advertising",1999,4.4,"To get the best candidate experience, please c...",10000+ Employees,Information Technology,48 - 58 per hour,1,0,48,99840,58,120640,110240.0,NY,Company - Public,"senior data scientist, advertising",1999,"To get the best candidate experience, please c...",700

## Features data type

In [67]:
dataset.dtypes

Revenue                      object
Company Name                 object
Sector                       object
Salary Estimate              object
Location                     object
Type of Ownership            object
Industry                     object
Job Title                    object
Founded                      object
Rating                      float64
Job Description              object
Size                         object
parsed_sector                object
parsed_salary                object
per_hour_salary_jobs          int64
fixed_salary_jobs             int64
minimum_salary               object
annual_minimum_salary         int64
maximum_salary               object
annual_maximum_salary         int64
average_salary              float64
states                       object
parsed_type_of_ownership     object
parsed_job_title             object
parsed_founded               object
parsed_job_description       object
description_length            int64
dtype: object

In [68]:
dataset.per_hour_salary_jobs = dataset.per_hour_salary_jobs.apply(str)
dataset.fixed_salary_jobs = dataset.fixed_salary_jobs.apply(str)
dataset.minimum_salary = dataset.minimum_salary.apply(float)
dataset.maximum_salary = dataset.maximum_salary.apply(float)
dataset.annual_minimum_salary = dataset.annual_minimum_salary.apply(float)
dataset.annual_maximum_salary = dataset.annual_maximum_salary.apply(float)

In [69]:
dataset.dtypes

Revenue                      object
Company Name                 object
Sector                       object
Salary Estimate              object
Location                     object
Type of Ownership            object
Industry                     object
Job Title                    object
Founded                      object
Rating                      float64
Job Description              object
Size                         object
parsed_sector                object
parsed_salary                object
per_hour_salary_jobs         object
fixed_salary_jobs            object
minimum_salary              float64
annual_minimum_salary       float64
maximum_salary              float64
annual_maximum_salary       float64
average_salary              float64
states                       object
parsed_type_of_ownership     object
parsed_job_title             object
parsed_founded               object
parsed_job_description       object
description_length            int64
dtype: object

In [70]:
dataset.shape

(3980, 27)

In [71]:
dataset = dataset[dataset['Company Name'].notna()]

In [72]:
dataset.shape

(3975, 27)

## Exporting the file with the name 'datacleaned.csv' file

In [73]:
dataset.to_csv('dataset_cleaned.csv', index=False)